<meta charset="utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SIP Cotizaciones- UNIMER</title>
<script type="text/javascript" charset="utf-8" src="js/jquery-2.1.1.min.js" th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" charset="utf-8" src="js/jquery.mobile.custom.min.js" th:src="@{/js/jquery.mobile.custom.min.js}"></script>
<script type="text/javascript" charset="utf-8" src="js/jQuery-Mobile-DateBox.js" th:src="@{/js/jQuery-Mobile-DateBox.js}"></script>
<script type="text/javascript" charset="utf-8" src="js/proposal.js" th:src="@{/js/proposal.js}"></script>


<link rel="stylesheet" href="css/custom.css" th:href="@{css/custom.css}"/>
<link rel="stylesheet" href="js/jquery.mobile.custom.structure.min.css" th:href="@{/js/jquery.mobile.custom.structure.min.css}"/>
<link rel="stylesheet" href="js/jquery.mobile.custom.theme.min.css" th:href="@{/js/jquery.mobile.custom.theme.min.css}"/>
<link rel="stylesheet" href="css/calendar.css" th:href="@{/css/calendar.css}"/>
<link rel="stylesheet" href="css/jquery.mobile.icons.min.css" th:href="@{/css/jquery.mobile.icons.min.css}"/>
<link rel="stylesheet" href="css/mainstyle.css" th:href="@{/css/mainstyle.css}"/>