<html>
<head th:replace="fragments/header"></head>
<body>
	<div data-role="page" data-theme="a" data-dom-cache="false" >
		<div data-role="header" data-position="inline" >
			<img src="img/unimer_logo.png" class="logotitle" th:src="@{/img/unimer_logo.png}">
            <h1>
            SIP Cotizaciones - Acceso denegado!
            </h1>
		</div>
		<div data-role="content" data-theme="a" style="width: 80%;margin: 1em auto;">
		<img src="/img/homererror.gif" th:src="@{/img/homererror.gif}">
			<h3>No posee los permisos necesarios</h3>
			<p>Por favor contactar con el administrador del sistema</p>
		</div>
	</div>
</body>
</html>