<!DOCTYPE html>
<html>
<head th:replace="fragments/header">
<meta charset="UTF-8"/>
</head>
<body>
	<div data-role="page" data-theme="a" data-dom-cache="false" >
		<div data-role="header" data-position="inline" >
			<img src="img/unimer_logo.png" class="logotitle" th:src="@{/img/unimer_logo.png}">
            <h1>
            SIP Cotizaciones - Evaluaciones
            </h1>
		</div>
		<div data-role="content" data-theme="a" style="width: 80%;margin: 1em auto;">
		<h3>Evaluaciones</h3>
			<div data-role="fieldcontain">
					
					<form method="post" action="#" th:action="@{/admin/addassessment}" th:object="${updateAssessment}">
					
						<div th:if="${updateAssessment==null}">
							<input type="hidden" name="idAssessment" th:value="0" readonly />						
							<label for="detail">Detalle:</label>
							<input  type="text" name="detail"  required/>
							
							<label for="currencyType">Tipos de moneda disponibles en el país actual:</label>
							<select name="idCurrencyType">
								<option th:each="currencyType : ${currencyTypes}" th:value="${currencyType.idCurrencyType}">
									<p  th:text="${currencyType.detail}" th:value="${currencyType.idCurrencyType}" ></p>
								</option>
							</select>
							
							
							<label for="saClient">SA Cliente:</label>
							<select name="idSaClient">
								<option th:each="saClient : ${saClients}" th:value="${saClient.idSaClient}">
									<p th:text="${saClient.detail}" th:value="${saClient.idSaClient}" ></p>
								</option>
							</select>
						</div>
				
						<div th:if="${updateAssessment!=null}">
						
							<input type="hidden" name="idAssessment" th:value="${updateAssessment.idAssessment}" readonly />
							<label for="creationDate">Fecha de Creacion:</label>
							<input  type="text" name="creationDate"  th:value="${#dates.format(updateAssessment.creationDate, 'dd-MMM-yyyy')}" readonly/>
							
							<label for="detail">Detalle:</label>
							<input  type="text" name="detail"  th:value="${updateAssessment.detail}" required/>
							
							
							<label for="currencyType">Tipos de moneda disponibles en el país actual:</label>
							<select name="idCurrencyType">
								<option th:each="currencyType : ${currencyTypes}" th:value="${currencyType.idCurrencyType}" th:if="${updateAssessment.CurrencyExchange.CurrencyType.idCurrencyType == currencyType.idCurrencyType}"  selected readonly>
									<p  th:text="${currencyType.detail}" th:value="${currencyType.idCurrencyType}" ></p>
								</option>
								<option th:each="currencyType : ${currencyTypes}" th:value="${currencyType.idCurrencyType}"  th:if="${updateAssessment.CurrencyExchange.CurrencyType.idCurrencyType != currencyType.idCurrencyType}"   readonly>
									<p  th:text="${currencyType.detail}" th:value="${currencyType.idCurrencyType}" ></p>
								</option>
							</select>
							
							<label for="saClient">SA Cliente:</label>
							<select name="idSaClient">
								<option th:each="saClient : ${saClients}" th:value="${saClient.idSaClient}" th:if="${updateAssessment.SaClient.idSaClient == saClient.idSaClient}"  selected readonly>
									<p th:text="${saClient.detail}" th:value="${saClient.idSaClient}" ></p>
								</option>
								<option th:each="saClient : ${saClients}" th:value="${saClient.idSaClient}" th:if="${updateAssessment.SaClient.idSaClient != saClient.idSaClient}"   readonly>
									<p th:text="${saClient.detail}" th:value="${saClient.idSaClient}" ></p>
								</option>
							</select>
							
							
							<a href="#" th:href="@{/admin/addassessment}"><button  class="custom_text" data-icon="Cancel">Cancelar</button></a>
							
						</div>
					
                    	<hr>
                    
  					<input type="submit" name="submit" class="custom_text" data-icon="plus" value="Guardar">
                   
				</form>
			</div>
           	
           	
           	<fieldset data-role="controlgroup"  data-type="horizontal">
           	<legend><h3>Evaluaciones de Sistema</h3></legend>
           		<table style="text-align:justify;">
           				<thead>
           				<tr>
           				<th  style="padding-right: 15px;border-bottom: 1px solid #c5c7cc;">ID</th>
           				<th  style="padding-right: 15px;border-bottom: 1px solid #c5c7cc;">Fecha de Creacion</th>
           				<th  style="padding-right: 15px;border-bottom: 1px solid #c5c7cc;">Detalle</th>
           				<th  style="padding-right: 15px;border-bottom: 1px solid #c5c7cc;">Cambio de Divisas</th>
           				<th  style="padding-right: 15px;border-bottom: 1px solid #c5c7cc;">SA Cliente</th>
           				<th  style="padding-right: 15px;border-bottom: 1px solid #c5c7cc;">Usuario</th>
           				<th  style="padding-right: 15px;border-bottom: 1px solid #c5c7cc;">Opción</th>
           				</tr>
           				</thead>
           				<tbody>
	           			<tr th:each="assessment : ${assessments}">
							<td style="padding-right: 15px;border-bottom: 1px solid #c5c7cc;" th:text="${assessment.idAssessment}"></td>
							<td style="padding-right: 15px;border-bottom: 1px solid #c5c7cc;" th:text="${#dates.format(assessment.creationDate, 'dd/MM/yyyy')}"></td>
							<td style="padding-right: 15px;border-bottom: 1px solid #c5c7cc;" th:text="${assessment.detail}"></td>
							<td style="padding-right: 15px;border-bottom: 1px solid #c5c7cc;" th:text="${assessment.currencyExchange.currencyType.detail}"></td>
							<td style="padding-right: 15px;border-bottom: 1px solid #c5c7cc;" th:text="${assessment.saClient.detail}"></td>
							<td style="padding-right: 15px;border-bottom: 1px solid #c5c7cc;" th:text="${assessment.user.name}"></td>
	           				<td style="padding-right: 15px;border-bottom: 1px solid #c5c7cc;"><a href="#" th:href="@{/admin/updateassesssment?idAssessment=__${assessment.idAssessment}__}"  >Editar</a></td>		
           				</tr>
           				
          			</tbody>
           			</table>
           	</fieldset>
           	
		</div>
		<div id="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div data-role="popup" data-position="left" id="adminmenu" th:replace="fragments/footer"></div>
		<!-- /panel -->	
		</div>
	</div>
</body>
</html>
