<!DOCTYPE html>
<html>
<head th:replace="fragments/header">
<meta charset="UTF-8"/>
</head>
<body>
	<div data-role="page" data-theme="a" data-dom-cache="false" >
		<div data-role="header" data-position="inline" >
			<img src="img/unimer_logo.png" class="logotitle" th:src="@{/img/unimer_logo.png}">
            <h1>
            SIP Cotizaciones - Cambiar Contrasena
            </h1>
		</div>
		<div data-role="content" data-theme="a" style="width: 80%;margin: 1em auto;">
		<h3>Cambio de Contrasena</h3>
			<div data-role="fieldcontain">
					
					<form  th:action="@{/admin/user/changePassword}" method="POST">
											
						<div>
							
							<label for="currentPassword">Contrasena Actual:</label>
							<input title="Debe de ingresar la contrasena actual" type="password" id="currentPassword" name="currentPassword" required/>
							
							<label for="newPassword">Nueva Contrasena:</label>
							<input title="Debe de ingresar la nueva contrasena" type="password" id="newPassword" name="newPassword" required/>
							
						</div>
					
                    	<hr>
  					        <input type="submit" name="submit" class="custom_text" data-icon="plus" value="Cambiar Contrasena">
                   
					</form>
					<div>
						
					</div>
			</div>	  	
		</div>
		<div id="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div data-role="popup" data-position="left" id="adminmenu" th:replace="fragments/footer"></div>
		<!-- /panel -->	
		</div>
	</div>
</body>
</html>
