<!DOCTYPE html>
<html>
<head th:replace="fragments/header">
<meta charset="UTF-8"/>
</head>
<body>
	<div data-role="page" data-theme="a" data-dom-cache="false" >
		<div data-role="header" data-position="inline" >
			<img src="img/unimer_logo.png" class="logotitle" th:src="@{/img/unimer_logo.png}">
            <h1>
            SIP Cotizaciones - Contacto de cliente
            </h1>
		</div>
		<div data-role="content" data-theme="a" style="width: 80%;margin: 1em auto;">
		<h3>Control de contacto de clientes</h3>
			<div data-role="fieldcontain">
					
				<form id="formClientContact" method="post" action="javascript:sendformClientContact();" >
						<input type="hidden" name="idClientContact" id="idClientContact" th:value="0" readonly />
							<label for="client">Cliente:</label>
							<select id="client" name="client.idClient">
								<option th:each="client : ${clients}" th:value="${client.idClient}">
									<p name="client.detail" th:text="${client.detail}" th:value="${client.detail}" ></p>
								</option>
							</select>
							<label for="country">País:</label>
							<select id="country" name="country.idCountry">
								<option th:each="country : ${countries}" th:value="${country.idCountry}">
									<p name="country.detail" th:text="${country.detail}" th:value="${country.detail}" ></p>
								</option>
							</select>
							<label for="name">Nombre:</label>
							<input id="name" title="Debe ingresar el nombre del contacto" maxlength="100" type="text" name="name" th:value="${name}" required/>
							<label for="phone">Teléfono:</label>
							<input id="phone" title="Debe ingresar el número telefónico del contacto"  maxlength="15" type="number" name="phone" th:value="${phone}" required/>
							<label for="ext">Ext:</label>
							<input id="ext" title="Debe ingresar ext del contacto"  maxlength="15" type="number" name="ext" th:value="${ext}" required/>
							<label for="email">Correo:</label>
							<input id="email" title="Debe ingresar el correo del cliente" maxlength="100" type="email" name="email" th:value="${email}" required/>
						
							<label for="status"  title="Indica si el rol esta activo o inactivo">Estado</label>
							<select id="status"  name="status" data-role="slider"  th:value="${status}">
								<option value="0">Inactivo</option>
								<option value="1">Activo</option>
							</select>
                    	<hr>
                    <div id="msg">
						
					</div>
                    <a id="clientContactCancel" type="button"  style="display:none;" data-icon="delete" onclick="clearClientContact();"><input data-icon="delete" type="button" value="Cancelar"/></a>	
  					<input type="submit" name="submit" class="custom_text" data-icon="plus" value="Guardar">
                   
				</form>
			</div>
           	
           	
           	<fieldset data-role="controlgroup"  data-type="horizontal">
           	<legend><h3>Contactos de cliente en el sistema</h3></legend>
           		<table style="text-align:justify;">
           				<thead>
           				<tr>
           				<th  style="padding-right: 15px;">ID</th>
           				<th  style="padding-right: 15px;">Cliente</th>
           				<th  style="padding-right: 15px;">País</th>
           				<th  style="padding-right: 15px;">Nombre</th>
           				<th  style="padding-right: 15px;">Teléfono</th>
           				<th  style="padding-right: 15px;">Ext</th>
           				<th  style="padding-right: 15px;">Correo</th>
           				<th  style="padding-right: 15px;">Estado</th>
           				<th  style="padding-right: 15px;">Opción</th>
           				</tr>
           				</thead>
           				<tbody  id="tbodyClientContact">
	           			<tr id="clientContactRow" th:each="clientContact : ${clientContacts}">
							<td id="idClientContact" style="padding-right: 15px;"><span th:text="${clientContact.idClientContact}"></span></td>
							<td style="padding-right: 15px;"><span th:text="${clientContact.Client.detail}"></span></td>
							<td style="padding-right: 15px;"><span th:text="${clientContact.Country.detail}"></span></td>
							<td id="name" style="padding-right: 15px;"><span th:text="${clientContact.name}"></span></td>
							<td id="phone" style="padding-right: 15px;"><span th:text="${clientContact.phone}"></span></td>
							<td id="ext" style="padding-right: 15px;"><span th:text="${clientContact.ext}"></span></td>
							<td id="email" style="padding-right: 15px;"><span th:text="${clientContact.email}"></span></td>
							<td id="status" style="padding-right: 15px;" th:if="${clientContact.status==1}"><span>Activo</span></td>
							<td id="status" style="padding-right: 15px;" th:if="${clientContact.status==0}"><span>Inactivo</span></td>
	           				<td style="padding-right: 15px;"><a href="#" onclick="editClientContact(this);">Editar</a></td>
	           				
	           					<!-- display;none tds -->
	           				
	           				<td id="idClient" style="padding-right: 15px;display:none;" ><span th:text="${clientContact.Client.idClient}"></span></td>
							<td id="idCountry" style="padding-right: 15px;display:none;" ><span th:text="${clientContact.Country.idCountry}"></span></td>
	           				
           				</tr>
           				
          			</tbody>
           			</table>
           	</fieldset>
           	
		</div>
		<div id="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div data-role="popup" data-position="left" id="adminmenu" th:replace="fragments/footer"></div>
		<!-- /panel -->	
		</div>
	</div>
</body>
</html>
