<!DOCTYPE html>
<html>
<head th:replace="fragments/header">
<meta charset="UTF-8"/>
</head>
<body>
	<div data-role="page" data-theme="a" data-dom-cache="false" >
		<div data-role="header" data-position="inline" >
			<img src="img/unimer_logo.png" class="logotitle" th:src="@{/img/unimer_logo.png}">
            <h1>
            SIP Cotizaciones - Clientes
            </h1>
		</div>
		<div data-role="content" data-theme="a" style="width: 80%;margin: 1em auto;">
		<h3>Control de clientes</h3>
			<div data-role="fieldcontain">
					
					<form method="post" action="#" th:action="@{/admin/addclient}" th:object="${updateClient}" >
					
						<div th:if="${updateClient==null}">
							<label for="saClient">Cliente SA:</label>
							<select name="saClient.idSaClient">
								<option th:each="saClient : ${saClients}" th:value="${saClient.idSaClient}">
									<p name="saClient.detail" th:text="${saClient.detail}" th:value="${saClient.detail}" ></p>
								</option>
							</select>
							<label for="country">País:</label>
							<select name="country.idCountry">
								<option th:each="country : ${countries}" th:value="${country.idCountry}">
									<p name="country.detail" th:text="${country.detail}" th:value="${country.detail}" ></p>
								</option>
							</select>
							<label for="detail">Detalle:</label>
							<input title="Debe ingresar el nombre del cliente" maxlength="100" type="text" name="detail" th:value="${detail}" required/>
							<label for="email">Correo:</label>
							<input title="Debe ingresar el correo del cliente" maxlength="49" type="email" name="email" th:value="${email}" required/>
							<label for="phone">Teléfono:</label>
							<input title="Debe ingresar el número telefónico del cliente"  maxlength="15" type="number" name="phone" th:value="${phone}" required/>
							<label for="fax">Fax:</label>
							<input title="Debe ingresar el fax del cliente"  maxlength="30" type="text" name="fax" th:value="${fax}" required/>
							<label for="clientType">Tipo de cliente</label>
							<select name="clientType.idClientType">
								<option th:each="clientType : ${clientTypes}" th:value="${clientType.idClientType}">
									<p name="clientType.detail" th:text="${clientType.detail}" th:value="${clientType.detail}" ></p>
								</option>
							</select>
							<label for="status"  title="Indica si el rol esta activo o inactivo">Estado</label>
							<select  name="status" data-role="slider"  th:value="${status}">
								<option value="0">Inactivo</option>
								<option value="1">Activo</option>
							</select>
						</div>
						
						<div th:if="${updateClient!=null}">
							<input type="hidden" name="idClient" th:value="${updateClient.idClient}" readonly />
							<label for="saClient">Cliente SA:</label>
							<select name="saClient.idSaClient">
								<option th:each="saClient : ${saClients}" th:value="${saClient.idSaClient}" th:if="${updateClient.SaClient.detail == saClient.detail}"  selected readonly>
									<p name="saClient.detail" th:text="${saClient.detail}" th:value="${saClient.detail}" ></p>
								</option>
								<option th:each="saClient : ${saClients}" th:value="${saClient.idSaClient}" th:if="${updateClient.SaClient.detail != saClient.detail}"   readonly>
									<p name="saClient.detail" th:text="${saClient.detail}" th:value="${saClient.detail}" ></p>
								</option>
							</select>
							<label for="country">País:</label>
							<select name="country.idCountry">
								<option th:each="country : ${countries}" th:value="${country.idCountry}" th:if="${updateClient.Country.detail == country.detail}" selected readonly>
									<p name="country.detail" th:text="${country.detail}" th:value="${country.detail}" ></p>
								</option>
								<option th:each="country : ${countries}" th:value="${country.idCountry}" th:if="${updateClient.Country.detail != country.detail}" readonly>
									<p name="country.detail" th:text="${country.detail}" th:value="${country.detail}" ></p>
								</option>
							</select>
							<label for="detail">Detalle:</label>
							<input title="Debe ingresar el nombre del cliente" type="text" name="detail" th:value="${updateClient.detail}" required/>
							<label for="email">Correo:</label>
							<input title="Debe ingresar el correo del cliente" maxlength="49" type="email" name="email" th:value="${updateClient.email}" required/>
							<label for="phone">Teléfono:</label>
							<input title="Debe ingresar el número telefónico del cliente"  maxlength="15" type="number" name="phone" th:value="${updateClient.phone}" required/>
							<label for="fax">Fax:</label>
							<input title="Debe ingresar el fax del cliente"  maxlength="30" type="text" name="fax" th:value="${updateClient.fax}" required/>
							<label for="clientType">Tipo de cliente</label>
							<select name="clientType.idClientType">
								<option th:each="clientType : ${clientTypes}" th:value="${clientType.idClientType}" th:if="${updateClient.ClientType.detail == clientType.detail}"  selected readonly>
									<p name="clientType.detail" th:text="${clientType.detail}" th:value="${clientType.detail}" ></p>
								</option>
								<option th:each="clientType : ${clientTypes}" th:value="${clientType.idClientType}" th:if="${updateClient.ClientType.detail != clientType.detail}"   readonly>
									<p name="clientType.detail" th:text="${clientType.detail}" th:value="${clientType.detail}" ></p>
								</option>
							</select>
							<label for="status"  title="Indica si el rol esta activo o inactivo">Estado</label>
							<div  th:if="${updateClient.status==0}">
								<select  name="status" data-role="slider"  th:value="${status}">
									<option  value="0" selected>Inactivo </option>
									<option  value="1">Activo</option>
								</select>
							</div>
							<div  th:if="${updateClient.status==1}">
								<select  name="status" data-role="slider"  th:value="${status}">
									<option  value="0" >Inactivo </option>
									<option  value="1" selected>Activo</option>
								</select>
							</div>
							<a href="#" th:href="@{/admin/addclient}"><button  class="custom_text" data-icon="Cancel">Cancelar</button></a>
							
						</div>
					
                    	<hr>
  					<input type="submit" name="submit" class="custom_text" data-icon="plus" value="Guardar">
                   
				</form>
			</div>
           	
           	
           	<fieldset data-role="controlgroup"  data-type="horizontal">
           	<legend><h3>Clientes en el sistema</h3></legend>
           		<table style="text-align:justify;">
           				<thead>
           				<tr>
           				<th  style="padding-right: 15px;">ID</th>
           				<th  style="padding-right: 15px;">Cliente SA</th>
           				<th  style="padding-right: 15px;">País</th>
           				<th  style="padding-right: 15px;">Detalle</th>
           				<th  style="padding-right: 15px;">Correo</th>
           				<th  style="padding-right: 15px;">Teléfono</th>
           				<th  style="padding-right: 15px;">Fax</th>
           				<th  style="padding-right: 15px;">Tipo de cliente</th>
           				<th  style="padding-right: 15px;">Estado</th>
           				<th  style="padding-right: 15px;">Opción</th>
           				</tr>
           				</thead>
           				<tbody>
	           			<tr th:each="client : ${clients}">
							<td style="padding-right: 15px;" th:text="${client.idClient}"></td>
							<td style="padding-right: 15px;" th:text="${client.SaClient.detail}"></td>
							<td style="padding-right: 15px;" th:text="${client.Country.detail}"></td>
							<td style="padding-right: 15px;" th:text="${client.detail}"></td>
							<td style="padding-right: 15px;" th:text="${client.email}"></td>
							<td style="padding-right: 15px;" th:text="${client.phone}"></td>
							<td style="padding-right: 15px;" th:text="${client.fax}"></td>
							<td style="padding-right: 15px;" th:text="${client.ClientType.detail}"></td>
							<td style="padding-right: 15px;" th:if="${client.status==1}">Activo</td>
							<td style="padding-right: 15px;" th:if="${client.status==0}">Inactivo</td>
	           				<td style="padding-right: 15px;"><a href="#" th:href="@{/admin/updateclient?idClient=__${client.idClient}__}"  >Editar</a></td>
	           				
           				</tr>
           				
          			</tbody>
           			</table>
           	</fieldset>
           	
		</div>
		<div id="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div data-role="popup" data-position="left" id="adminmenu" th:replace="fragments/footer"></div>
		<!-- /panel -->	
		</div>
	</div>
</body>
</html>
