<!DOCTYPE html>
<html>
<head th:replace="fragments/header">
<meta charset="UTF-8">
</head>
<body>
	<div data-role="page" data-theme="a" data-dom-cache="false" >
		<div data-role="header" data-position="inline" >
			<img src="img/unimer_logo.png" class="logotitle" th:src="@{/img/unimer_logo.png}">
            <h1>
            SIP Cotizaciones - Tipo de clientes
            </h1>
		</div>
		<div data-role="content" data-theme="a" style="width: 80%;margin: 1em auto;">
		<h3>Control de tipo de clientes</h3>
			<div data-role="fieldcontain">
				
					<form id="formClientType" method="POST" action="javascript:sendFormClientType();" >
						<input type="hidden" name="idClientType" id="idClientType" th:value="0" readonly />
							<label for="detail">Detalle:</label>
							<input id="detail" title="Debe ingresar el tipo de cliente" type="text" name="detail" th:value="${detail}" required/>
							<label for="status"  title="Indica si el tipo de cliente esta activo o inactivo">Estado</label>
							<select id="status" name="status" data-role="slider"  th:value="${status}">
								<option value="0">Inactivo</option>
								<option value="1">Activo</option>
							</select>
						
                    	<div id="msg">
						
					</div>
                    	<hr>
                    <a id="clientTypeCancel" type="button"  style="display:none;" data-icon="delete" onclick="clearClientType();"><input data-icon="delete" type="button" value="Cancelar"/></a>
  					<input type="submit" name="submit" class="custom_text" data-icon="plus" value="Guardar">
				</form>
			</div>
           	
           	
           	<fieldset data-role="controlgroup"  data-type="horizontal">
           	<legend><h3>Tipo de cliente en el sistema</h3></legend>
           		<table style="text-align:justify;">
           				<thead>
           				<tr>
           				<th  style="padding-right: 15px;">ID</th>
           				<th  style="padding-right: 15px;">Detalle</th>
           				<th  style="padding-right: 15px;">Estado</th>
           				<th  style="padding-right: 15px;">Opción</th>
           				</tr>
           				</thead>
           				<tbody id="tbodyClientType">
	           			<tr id="clientTypeRow" th:each="clienttype : ${clienttypes}">
							<td id="idClientType" style="padding-right: 15px;"><span th:text="${clienttype.idClientType}"></span></td>
							<td id="detail" style="padding-right: 15px;"><span th:text="${clienttype.detail}"></span></td>
							<td id="status" style="padding-right: 15px;" th:if="${clienttype.status==1}"><span>Activo</span></td>
							<td id="status" style="padding-right: 15px;" th:if="${clienttype.status==0}"><span>Inactivo</span></td>
	           				<td style="padding-right: 15px;"><a href="#" onclick="editClientType(this);">Editar</a></td>
	           				
           				</tr>
           				
          			</tbody>
           			</table>
           	</fieldset>
           	
		</div>
		<div id="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div data-role="popup" data-position="left" id="adminmenu" th:replace="fragments/footer"></div>
		<!-- /panel -->	
		</div>
	</div>
</body>
</html>