<!DOCTYPE html>
<html>
<head th:replace="fragments/header">
<meta charset="UTF-8"/>
</head>
<body>
	<div data-role="page" data-theme="a" data-dom-cache="false" >
		<div data-role="header" data-position="inline" >
			<img src="img/unimer_logo.png" class="logotitle" th:src="@{/img/unimer_logo.png}">
            <h1>
            SIP Cotizaciones - País por tipo de moneda
            </h1>
		</div>
		<div data-role="content" data-theme="a" style="width: 80%;margin: 1em auto;">
		<h3>Control de roles</h3>
			<div data-role="fieldcontain">
					
					<form method="post" action="#" th:action="@{/admin/addcountrybycurrencytype}" >
					
							<label for="country">País:</label>
							<select name="idCountry">
								<option th:each="country : ${countries}" th:value="${country.idCountry}"><p th:text="${country.detail}"></p></option>
							</select>
							<label for="currencyType">Tipo de moneda</label>
							<select name="idCurrencyType">
								<option th:each="currencyType : ${currencyTypes}" th:value="${currencyType.idCurrencyType}"><p th:text="${currencyType.detail}"></p></option>
							</select>
                    	<hr>
                   
  					<input type="submit" name="submit" class="custom_text" data-icon="plus" value="Guardar">
                   
				</form>
			</div>
           	
           	
           	<fieldset data-role="controlgroup"  data-type="horizontal">
           	<legend><h3>País por tipo de moneda</h3></legend>
           		<table style="text-align:justify;">
           				<thead>
           				<tr>
           				<th  style="padding-right: 15px;">País</th>
           				<th  style="padding-right: 15px;">Moneda</th>
           				</tr>
           				</thead>
           				<tbody>
	           			<tr th:each="countryByCurrencyTypes : ${countryByCurrencyTypes}">
							<td style="padding-right: 15px;" th:text="${countryByCurrencyTypes.idCountry}"></td>
							<td style="padding-right: 15px;" th:text="${countryByCurrencyTypes.idCurrencyType}"></td>
           				</tr>
           				
          			</tbody>
           			</table>
           	</fieldset>
           	
		</div>
		<div id="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div data-role="popup" data-position="left" id="adminmenu" th:replace="fragments/footer"></div>
		<!-- /panel -->	
		</div>
	</div>
</body>
</html>
