<!DOCTYPE html>

<html>
<head th:replace="fragments/header">
<meta charset="UTF-8">
</head>
<body>
	<div data-role="page" data-theme="a" data-dom-cache="false" >
		<div data-role="header" data-position="inline" >
			<img src="img/unimer_logo.png" class="logotitle" th:src="@{/img/unimer_logo.png}">
            <h1>
            SIP Cotizaciones - Países
            </h1>
		</div>
		<div data-role="content" data-theme="a" style="width: 80%;margin: 1em auto;">
		<h3>Control de países</h3>
			<div data-role="fieldcontain">
			
					<form method="post" action="#" th:action="@{/admin/addcountry}" th:object="${updateCountry}"> <!--  onSubmit="if (detail.value!=null && cod.value!=null) return location.reload(); else return false;"-->
						<div th:if="${updateCountry==null}">
							<label for="detail">Detalle:</label>
							<input title="Debe ingresar el nombre del país" type="text" name="detail" th:value="${detail}" required/>
							<label for="cod">Código del país:</label>
							<input title="Debe ingresar el código del país" type="text" name="cod" th:value="${cod}" maxlength="3" required/>						
						</div>
						
						<div th:if="${updateCountry!=null}">
							<input type="hidden" name="idCountry" th:value="${updateCountry.idCountry}" readonly />
							<label for="detail">Detalle:</label>
							<input title="Debe ingresar el nombre del país" type="text" name="detail" th:value="${updateCountry.detail}" required/>
							<label for="cod">Código del país:</label>
							<input title="Debe ingresar el código del país" type="text" name="cod" th:value="${updateCountry.cod}"   maxlength="3" required/>	
							<a href="#" th:href="@{/admin/addcountry}"><button  class="custom_text" data-icon="Cancel">Cancelar</button></a>							
						</div>
					
						
                    	<hr>
  					<input type="submit" name="submit" class="custom_text" data-icon="plus" value="Guardar">
                   <!--  <input type="submit" name="submit" class="custom_text" data-icon="refresh" value="Modificar registro">-->
				</form>
			</div>
           	
           	
           	<fieldset data-role="controlgroup"  data-type="horizontal">
           	<legend><h3>Países en el sistema</h3></legend>
           		<table style="text-align:justify;">
           				<thead>
           				<tr>
           				<th  style="padding-right: 15px;">ID</th>
           				<th  style="padding-right: 15px;">Detalle</th>
           				<th  style="padding-right: 15px;">Código</th>
           				<th  style="padding-right: 15px;">Opción</th>
           				</tr>
           				</thead>
           				<tbody>
	           			<tr th:each="country : ${countries}">
							<td style="padding-right: 15px;" th:text="${country.idCountry}"></td>
							<td style="padding-right: 15px;" th:text="${country.detail}"></td>
							<td style="padding-right: 15px;" th:text="${country.cod}"></td>
	           				<td style="padding-right: 15px;"><a href="#" th:href="@{/admin/chargecountry?idCountry=__${country.idCountry}__}"  >Editar</a></td>
	           				
           				</tr>
           				
          			</tbody>
           			</table>
           	</fieldset>
           	
		</div>
		<div id="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div data-role="popup" data-position="left" id="adminmenu" th:replace="fragments/footer"></div>
		<!-- /panel -->	
		</div>
	</div>
</body>
</html>
