<!DOCTYPE html>

<html>
<head th:replace="fragments/header">
<meta charset="UTF-8">
</head>
<body>
	<div data-role="page" data-theme="a" data-dom-cache="false" >
		<div data-role="header" data-position="inline" >
			<img src="img/unimer_logo.png" class="logotitle" th:src="@{/img/unimer_logo.png}">
            <h1>
            SIP Cotizaciones - Países
            </h1>
		</div>
		<div data-role="content" data-theme="a" style="width: 80%;margin: 1em auto;">
		<h3>Control de países</h3>
			<div data-role="fieldcontain">
			
					<form id="formCountry" method="POST" action="javascript:sendFormCountry();">
							<input id="idCountry" type="hidden" name="idCountry" th:value="0"  readonly />
							<label for="detail">Detalle:</label>
							<input id="detail" title="Debe ingresar el nombre del país" type="text" name="detail" th:value="${detail}" required/>
							<label for="cod">Código del país:</label>
							<input id="cod" title="Debe ingresar el código del país" type="text" name="cod" th:value="${cod}" maxlength="3" required/>
							<label for="iva">I.V.A:</label>
							<input id="iva" title="Debe ingresar el impuesto de venta del país" type="number" name="iva" th:value="${iva}" maxlength="2" required/>
							<label for="tranference_value">Valor de transferencia:</label>
							<input id="tranference_value" title="Debe ingresar el valor de tranferencia del país" type="number" name="tranference_value" th:value="${tranference_value}" maxlength="2" required/>						
							<label for="remission">Remesa:</label>
							<input id="remission" title="Debe ingresar la remesa del país" type="number" name="remission" th:value="${remission}" maxlength="2" required/>
							<label for="except_Sale" title="Indica si esta fuera de impuestos si o no " id="status-label">Impuesto excento a ventas:</label>
							<select id="except_Sale" name="except_Sale" data-role="slider" tabindex="-1" class="ui-slider-switch">
								<option value="0" selected="">Inactivo</option>
								<option value="1">Activo</option>
						    </select>
							<label for="apply_for_charge" title="Indica si este aplica pagos si o no " id="status-label">Aplica Cargos:</label>
							<select id="apply_for_charge" name="apply_for_charge" data-role="slider" tabindex="-1" class="ui-slider-switch">
								<option value="0" selected="">Inactivo</option>
								<option value="1">Activo</option>
						    </select>
					<div id="msg">
						
					</div>
                    <hr>
                    <a id="countryCancel" type="button"  style="display:none;" data-icon="delete" onclick="clearCountry();"><input data-icon="delete" type="button" value="Cancelar"/></a>
  					<input type="submit" name="submit" class="custom_text" data-icon="plus" value="Guardar">
				</form>
			</div>
           	
           	
           	<fieldset data-role="controlgroup"  data-type="horizontal">
           	<legend><h3>Países en el sistema</h3></legend>
           		<table style="text-align:justify;">
           				<thead>
           				<tr>
           				<th  style="padding-right: 15px;">ID</th>
           				<th  style="padding-right: 15px;">Detalle</th>
           				<th  style="padding-right: 15px;">Código</th>
           				<th  style="padding-right: 15px;">I.V.A</th>
           				<th  style="padding-right: 15px;">Valor de Tranferencia</th>
           				<th  style="padding-right: 15px;">Remesa</th>
           				<th  style="padding-right: 15px;">Excepto a ventas</th>
           				<th  style="padding-right: 15px;">Aplica para cargos</th>
           				<th  style="padding-right: 15px;">Opción</th>
           				</tr>
           				</thead>
           				<tbody id="tbodyCountry">
	           			<tr id="countryRow" th:each="country : ${countries}">
							<td id="idCountry" style="padding-right: 15px;"><span th:text="${country.idCountry}"></span></td>
							<td id="detail" style="padding-right: 15px;" ><span th:text="${country.detail}"></span></td>
							<td id="cod" style="padding-right: 15px;"><span th:text="${country.cod}"></span></td>
							<td id="iva" style="padding-right: 15px;"><span th:text="${country.iva}"></span></td>
							<td id="tranference_value" style="padding-right: 15px;"><span th:text="${country.tranference_value}"></span></td>
							<td id="remission" style="padding-right: 15px;"><span th:text="${country.remission}"></span></td>
							<td id="except_Sale" style="padding-right: 15px;"><span th:text="${country.except_Sale == true} ? 'Si' : 'No'"></span></td>
							<td id="apply_for_charge" style="padding-right: 15px;"><span th:text="${country.apply_for_charge == true} ? 'Si' : 'No'"></span></td>
	           				<td style="padding-right: 15px;"><a href="#" onclick="editCountry(this);">Editar</a></td>
           				</tr>
           				
          			</tbody>
           			</table>
           	</fieldset>
           	
		</div>
		<div id="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div data-role="popup" data-position="left" id="adminmenu" th:replace="fragments/footer"></div>
		<!-- /panel -->	
		</div>
	</div>
</body>
</html>
