<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head th:replace="fragments/header"></head>
<body>
	<div data-role="page" data-theme="a" data-dom-cache="false" >
		<div data-role="header" data-position="inline" >
			<img src="img/unimer_logo.png" class="logotitle" th:src="@{/img/unimer_logo.png}">
            <h1>
            SIP Cotizaciones - Partidas
            </h1>
		</div>
		<div data-role="content" data-theme="a" style="width: 80%;margin: 1em auto;">
		<h3>Control de partidas</h3>
			<div data-role="fieldcontain">
			
					<form method="post" action="#" th:action="@{/admin/adddeparture}" th:object="${updateDeparture}" >
					
						<div th:if="${updateDeparture==null}">
							<label for="details">Detalle:</label>
							<input title="Debe ingresar el nombre que describe la partida" type="text" name="detail" th:value="${detail}" required/>
							<label for="countries">Elija el país:</label>
							<select name="country.idCountry">
								<option  th:each="country : ${countries}" th:value="${country.idCountry}"> 
									<p name="country.detail" th:text="${country.detail}" th:value="${country.detail}" ></p>
								</option>
								
							</select>
							
							<label for="currencyType">Tipo de modena sugerida</label> 
						
							<select name="currencyType.idCurrencyType">
								<option th:each="type : ${types}" th:value="${type.idCurrencyType}">
									<p name="type.detail" th:text="${type.detail}" th:value="${type.detail}" ></p>
								</option>
							</select>
							
							
							<label for="sell">Precio sugerido:</label>
							<input type="number" name="price" step="any" th:value="${price}" required/>
							
							<label for="status"  title="Estado de la partida o catálogo">Estado</label>
							<select  name="status" data-role="slider"  th:value="${status}">
								<option value="0">Inactivo</option>
								<option value="1">Activo</option>
							</select>
						</div>
						
						<div th:if="${updateDeparture!=null}">
							<input type="hidden" name="idDeparture" th:value="${updateDeparture.idDeparture}" readonly />
							<label for="detail">Detalle:</label>
							<input title="Debe ingresar el nombre que describe la partida" type="text" name="detail" th:value="${updateDeparture.detail}" required/>	
							<label for="country">Elija el país:</label>
							<select name="country.idCountry">
								<option th:each="country : ${countries}" th:value="${country.idCountry}" th:if="${updateDeparture.Country.detail == country.detail}"  selected readonly>
									<p name="country.detail" th:text="${country.detail}" th:value="${country.detail}" ></p>
								</option>
								<option th:each="country : ${countries}" th:value="${country.idCountry}" th:if="${updateDeparture.Country.detail != country.detail}"  readonly>
										<p name="country.detail" th:text="${country.detail}" th:value="${country.detail}" ></p>
								</option>
							</select>
							
							<label for="currencyType">Tipo de moneda sugerida:</label>
							<select name="currencyType.idCurrencyType">
								<option th:each="type : ${types}" th:value="${type.idCurrencyType}" th:if="${updateDeparture.CurrencyType.detail == type.detail}" selected readonly>
									<p name="type.detail" th:text="${type.detail}" th:value="${type.detail}" ></p>
								</option>
								<option th:each="type : ${types}" th:value="${type.idCurrencyType}" th:if="${updateDeparture.CurrencyType.detail != type.detail}" readonly>
									<p name="type.detail" th:text="${type.detail}" th:value="${type.detail}" ></p>
								</option>
							</select>
							
							<label for="text">Precio sugerido:</label>
							<input type="text" name="price" step="any" th:value="${updateDeparture.price}" required/>
							
							<label for="status"  title="Estado de la partida o catálogo">Estado</label>
							<div  th:if="${updateDeparture.status==0}">
								<select  name="status" data-role="slider"  th:value="${status}">
									<option  value="0" selected>Inactivo </option>
									<option  value="1">Activo</option>
								</select>
							</div>
							<div  th:if="${updateDeparture.status==1}">
								<select  name="status" data-role="slider"  th:value="${status}">
									<option  value="0" >Inactivo </option>
									<option  value="1" selected>Activo</option>
								</select>
							</div>
							
							
							<a href="#" th:href="@{/admin/adddeparture}"><button  class="custom_text" data-icon="Cancel">Cancelar</button></a>	
						</div>
                    	<hr>
                    	
                   
                    	
  					<input type="submit" name="submit" class="custom_text" data-icon="plus" value="Guardar">
				</form>
			</div>
           	
           	
           	<fieldset data-role="controlgroup"  data-type="horizontal">
           	<legend><h3>Partidas en el sistema</h3></legend>
           		<table style="text-align:justify;">
           				<thead>
           				<tr>
           				<th  style="padding-right: 15px;">ID</th>
           				<th  style="padding-right: 15px;">Detalle</th>
           				<th  style="padding-right: 15px;">País</th>
           				<th  style="padding-right: 15px;">Opción</th>
           				</tr>
           				</thead>
           				<tbody>
	           			<tr th:each="departure: ${departures}">
							<td style="padding-right: 15px;" th:text="${departure.idDeparture}"></td>
							<td style="padding-right: 15px;" th:text="${departure.detail}"></td>
							<td style="padding-right: 15px;" th:text="${departure.Country.detail}"></td>
	           				<td style="padding-right: 15px;"><a href="#" th:href="@{/admin/updatedeparture?idDeparture=__${departure.idDeparture}__}"  >Editar</a></td>
           				</tr>
           				
          			</tbody>
           			</table>
           	</fieldset>
           	
		</div>
		<div id="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div data-role="popup" data-position="left" id="adminmenu" th:replace="fragments/footer"></div>
		<!-- /panel -->	
		</div>
		
	 <script>
$(".opt").each(function()
{
	alert($(this).val());
});
</script>

		
	</div>
</body>
</html>