<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head th:replace="fragments/header"></head>
<body>
	<div data-role="page" data-theme="a" data-dom-cache="false" >
		<div data-role="header" data-position="inline" >
			<img src="img/unimer_logo.png" class="logotitle" th:src="@{/img/unimer_logo.png}">
            <h1>
            partidas
            </h1>
		</div>
		<div data-role="content" data-theme="b">
		<h3>Control de países</h3>
			<div data-role="fieldcontain">
			
				<!-- Aqui va el codigo del dialogo -->
				
			</div>   	
		</div>
	</div>
</body>
</html>
