<!DOCTYPE html>
<html>
<head th:replace="fragments/header">
	<meta charset="UTF-8"/>
</head>
<body>
	<div data-role="page" data-theme="a" data-dom-cache="false" >
		<div data-role="header" data-position="inline" >
			<img src="img/unimer_logo.png" class="logotitle" th:src="@{/img/unimer_logo.png}">
            <h1>
            SIP Cotizaciones - Tipo de ejecución
            </h1>
		</div>
		<div data-role="content" data-theme="a" style="width: 80%;margin: 1em auto;">
		<h3>Control de tipo de ejecución</h3>
			<div data-role="fieldcontain">
					
					<form id="formExecutionType" method="POST" action="javascript:sendFormExecutionType();">
							<input id="idExecutionType" type="hidden" name="idExecutionType" th:value="0" readonly />
							<label for="detail">Detalle:</label>
							<input id="detail" title="Debe ingresar el tipo de ejecución" type="text" name="detail" th:value="${detail}" required/>
                    	
                    <div id="msg"></div>	
                    <hr>
                    <a id="executionTypeCancel" type="button"  style="display:none;" data-icon="delete" onclick="clearExecutionType();"><input data-icon="delete" type="button" value="Cancelar"/></a>
  					<input type="submit" name="submit" class="custom_text" data-icon="plus" value="Guardar">
				</form>
			</div>
           	
           	
           	<fieldset data-role="controlgroup"  data-type="horizontal">
           	<legend><h3>Tipo de ejecución en el sistema</h3></legend>
           		<table style="text-align:justify;">
           				<thead>
           				<tr>
           				<th  style="padding-right: 15px;">ID</th>
           				<th  style="padding-right: 15px;">Detalle</th>
           				<th  style="padding-right: 15px;">Opción</th>
           				</tr>
           				</thead>
           				<tbody id="tbodyExecutionType">
	           			<tr id="executionTypeRow" th:each="executiontype : ${executiontypes}">
							<td id="idExecutionType" style="padding-right: 15px;"><span th:text="${executiontype.idExecutionType}"></span></td>
							<td id="detail" style="padding-right: 15px;"><span th:text="${executiontype.detail}"></span></td>
	           				<td style="padding-right: 15px;"><a href="#" onclick="editExecutionType(this);">Editar</a></td>
           				</tr>
          			</tbody>
           			</table>
           	</fieldset>
           	
		</div>
		<div id="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div data-role="popup" data-position="left" id="adminmenu" th:replace="fragments/footer"></div>
		<!-- /panel -->	
		</div>
	</div>
</body>
</html>