<!DOCTYPE html>
<html>
<head th:replace="fragments/header">
<meta charset="UTF-8">
</head>
<body>
	<div data-role="page" data-theme="a" data-dom-cache="false" >
		<div data-role="header" data-position="inline" >
			<img src="img/unimer_logo.png" class="logotitle" th:src="@{/img/unimer_logo.png}">
            <h1>
            SIP Cotizaciones - Tipo de operación
            </h1>
		</div>
		<div data-role="content" data-theme="a" style="width: 80%;margin: 1em auto;">
		<h3>Control de tipos de operación</h3>
			<div data-role="fieldcontain">
			
					<form id="formOperationType" method="POST" action="javascript:sendFormOperationType();">
					
							<input id="idOperationType" type="hidden" name="idOperationType" th:value="0" readonly />
							<label for="detail">Detalle:</label>
							<input id="detail" title="Debe ingresar el nombre que describe el tipo de operación" type="text" name="detail" th:value="${detail}" required/>	
					<div id="msg"></div>
                    <hr>
                    <a id="operationTypeCancel" type="button"  style="display:none;" data-icon="delete" onclick="clearOperationType();"><input data-icon="delete" type="button" value="Cancelar"/></a>	
  					<input type="submit" name="submit" class="custom_text" data-icon="plus" value="Guardar">
				</form>
			</div>
           	
           	
           	<fieldset data-role="controlgroup"  data-type="horizontal">
           	<legend><h3>Tipos de operación en el sistema</h3></legend>
           		<table style="text-align:justify;">
           				<thead>
           				<tr>
           				<th  style="padding-right: 15px;">ID</th>
           				<th  style="padding-right: 15px;">Detalle</th>
           				<th  style="padding-right: 15px;">opción</th>
           				</tr>
           				</thead>
           				<tbody id="tbodyOperationType">
	           			<tr id="operationTypeRow" th:each="operationType: ${operationTypes}">
							<td id="idOperationType" style="padding-right: 15px;"><span th:text="${operationType.idOperationType}"></span></td>
							<td id="detail" style="padding-right: 15px;"><span th:text="${operationType.detail}"></span></td>
	           				<td style="padding-right: 15px;"><a href="#" onclick="editOperationType(this);">Editar</a></td>
           				</tr>
           				
          			</tbody>
           			</table>
           	</fieldset>
           	
		</div>
		<div id="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div data-role="popup" data-position="left" id="adminmenu" th:replace="fragments/footer"></div>
		<!-- /panel -->	
		</div>
	</div>
</body>
</html>
