<!DOCTYPE html>
<html>
<head th:replace="fragments/header">
<meta charset="UTF-8"/>
</head>
<body onload="onLoadProjects();">
	<div data-role="page" data-theme="a" data-dom-cache="false" >
		<div data-role="header" data-position="inline" >
			<img src="img/unimer_logo.png" class="logotitle" th:src="@{/img/unimer_logo.png}">
            <h1>
            Cotizaciones
            </h1>
		</div>
		
		<div data-role="content" data-theme="a" style="width: 95%;margin: 1em auto;">
			<h3 style="text-align: center;">Lista de Proyectos</h3>
			
			<div class="ui-grid-a" id="form-data">
		     <div class="ui-block-a" >
		        	<form class="form-data-assessment">
					  <fieldset class="form-assessment" style="margin: 30px; display:none;">
					  	
					  	<h3>Detalle del Proyecto</h3>
						<div>
						
							<input  type="hidden" name="idAssessment" id="idAssessment" placeholder="idAssessment" value="0" required/>
							
							<label for="creationDate">Fecha de Creacion:</label>
							<input  type="text" name="creationDate"  id="creationDate" th:value="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}" placeholder="Fecha de Creacion" required/>
						
							<label for="detail">Detalle:</label>
							<input  type="text" name="detail" id="detail" placeholder="Nombre del proyecto" required/>
							
							
						</div>
					
                    	<hr>
                     <div id="msg2">
						
							</div>
                   </fieldset>
				</form>
		               
		      </div>
		      <div class="ui-block-b" >
		      	 <form class="form-data-assessment">
					  <fieldset class="form-assessment" style="margin: 30px; display:none;">
					  	
						<div>
							
							<input name="idCurrencyExchange" id="idCurrencyExchange" type="hidden" th:value="${currencyExchange}" />
							
							<label for="saClient">Cliente SA:</label>
							<select name="idSaClient" id="idSaClient" required>
								<option th:each="saClient : ${saClients}" th:value="${saClient.idSaClient}">
									<p th:text="${saClient.detail}"></p>
								</option>
							</select>
							
							<label for="idStatus">Estado del Proyecto:</label>
							<select name="idStatus" id="idStatus" required>
								<option th:each="statu : ${status}" th:value="${statu.idStatus}">
									<p th:text="${statu.detail}"></p>
								</option>
							</select>
							
							
							<h3>Opciones</h3>
							<a id="assessmentCancel" type="button"  style="display:none;" data-icon="delete"><input class="assessmentCancel" data-icon="delete" type="button" value="Cancelar"/></a>
									
						</div>
					
                    	<hr>
                    
  					<input type="button" id="sendAssessment" class="custom_text" data-icon="plus" value="Guardar">
                   </fieldset>
				</form>
		      </div>
		    </div>
		    
<!-- --------------------------------------------COMPARTIR PROYECTO------------------------------------------------------------------------------------------------------------------------------ ---->			    
		    
		   <div class="ui-grid-a" id="divShared" style="display: none;">
   		
    			
    			
      			<div class="ui-block-a" style="width:55%; margin-right: 5%">
      			<h3>Compartir proyectos</h3>
    			
    			 <fieldset>
		        	
		 			<form class="ui-filterable">
		      			<input id="myFilter2" data-type="search" placeholder="Busca proyecto">
		      			<div class="ui-block-b">
				       <div id="msg">
						
						</div>
				    	</div>
		    		</form> 
		    		
		    		<table data-role="table" dfe="movie-table" data-filter="true" data-input="#myFilter2" class="ui-responsive">
		    			<thead>
           				
           				<th  style="padding-right: 15px;">Proyecto</th>
           				<th  style="padding-right: 15px;">Usuario</th>
           				<th colspan="2" style="padding-right: 15px;">País</th>
           				
           				</thead>
				        <tbody id="tbodyShared">
	           			<tr id="sharedRow" th:each="shared : ${shareds}">
							<td><span th:text="${shared.assessment.detail}"></span></td>
							<td><span th:text="${shared.userShared.name+' '+shared.userShared.midname+' '+shared.userShared.lastname}"></span></td>
							<td><span th:text="${shared.userShared.Country.detail}"></span></td>
							
							 <!-- IdS -->
						    <td style="padding-right: 15px;display:none;" id="idAssessmentShared" ><span th:text="${shared.idAssessmentShared}"></span></td>
							
							<div th:if="${role == 'CONTRIBUTOR' or role == 'BOSS_CONTRIBUTOR'}">
	           				<td class="edit">
	           				<a class="ui-link ui-btn ui-btn-b ui-icon-minus ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all" style="background-color: #009082;" onclick="deleteShared(this);" title="Eliminar"></a>
	           				</td>
	           				</div>
           				</tr>
           				<input id="msgAction" type="hidden" th:value="${msg}"/>
          			    </tbody>
		    		</table>
		        </fieldset>       
    			
    			
      			</div>
      			<div class="ui-block-b" style="width:35%; margin-right: 5%">
      			<br/><br/><br/>
    				
							<label for="country">País:</label>
							<select id="country" name="country.idCountry" onchange=" chargeUserSharedByCountry();">
								<option th:each="country : ${countries}" th:value="${country.idCountry}">
									<p name="country.detail" th:text="${country.detail}" th:value="${country.detail}" ></p>
								</option>
							</select>
							
					<form method="POST" id="formShared" action="javascript:sendformShared();"  >
							
							<label style="margin-top: 15px" for="users">Usuarios del sistema</label>
							<select name="idUser" id="userShared" required>
							</select>
							<label  style="margin-top: 15px" for="projects">Proyecto</label>
							<input id="idAssessmentToShared" name="idAssessmentToShared" type="hidden" th:value="0" required/>
							<input id="assessmentDetail" type="text" readonly/>
							
							<div  style="display: none;">
								<table id="userTable">
								<tbody>
									<tr  th:each="user : ${users}">
										<td id="fullName"><span th:text="${user.name+' '+user.midname+' '+user.lastname}"></span></td>
										<td id="idCountry"><span th:text="${user.Country.idCountry}"></span></td>
										<td id="idUser"><span th:text="${user.idUser}"></span></td>
									</tr>
								</tbody>
							</table>
							</div>
							
							
					<br/>		
					<div id="msgShared"></div>
                    <hr>
                    <a id="sharedCancel" type="button" data-icon="delete" onclick="clearShared();"><input data-icon="delete" type="button" value="Cerrar"/></a>
  					<input type="submit" name="submit" class="custom_text" data-icon="plus" value="Guardar">
  					
                    
					</form>
     	 		</div>
           
		   </div>
<!-- --------------------------------------------ASIGNAR PROYECTO------------------------------------------------------------------------------------------------------------------------------ ---->	

			<div class="ui-grid-solo" id="divAssign" style="display: none;">
   		
      			<div class="ui-block-a" style="width:90%; margin: 5%">
      			
    				<h3>Asignar proyectos</h3>
					<label for="countryAssign">País:</label>
					<select id="countryAssign" name="countryAssign.idCountry" onchange=" chargeUserByCountryAssign();">
						<option th:each="countryAssign : ${countries}" th:value="${countryAssign.idCountry}">
							<p name="countryAssign.detail" th:text="${countryAssign.detail}" th:value="${countryAssign.detail}" ></p>
						</option>
				 	</select>
							
					<form method="POST" id="formAssign" action="javascript:sendformAssign();">
							
							<label style="margin-top: 15px" for="users">Usuarios del sistema</label>
							<select name="idUserAssign" id="userAssign" required>
							</select>
							<label  style="margin-top: 15px" for="projects">Proyecto</label>
							<input id="idAssessmentToAssign" name="idAssessmentToAssign" type="hidden" th:value="0" required/>
							<input id="assessmentDetailAssign" type="text" readonly/>
							
							
					<br/>		
					<div id="msgAssign"></div>
                    <hr>
                    <a id="assignCancel" type="button" data-icon="delete" onclick="clearAssign();"><input data-icon="delete" type="button" value="Cerrar"/></a>
  					<input type="submit" name="submit" class="custom_text" data-icon="plus" value="Guardar">
  					
                    
					</form>
     	 		</div>
           
		   </div>



<!---------------------------------------------- BUSQUEDA DE PROYECTOS-------------------------------------------------------------------------------------------------------------------------------- -->



	<div id="divSearch" style="display: none;">
			<br>
			
			<h3>Opciones de busqueda</h3>
			<fieldset class="ui-grid-a">
              <div class="ui-block-a" style="width: 45%; margin-left: 2%; margin-right: 2%;">
              
              		<h5>Busqueda por fecha</h5>
              		<input id="creationDateSearch" name="creationDateSearch"   data-role="datebox" data-options='{ "mode": "calbox", "overrideDateFormat": "%d/%m/%Y" }' type="text" required />
       				
					<h5>Busqueda por estado</h5>
              			<select name="idStatusSearch" id="idStatusSearch" required>
								<option th:each="statu : ${status}" th:value="${statu.idStatus}">
									<p th:text="${statu.detail}"></p>
								</option>
							</select>
					
              </div>
              
              <div class="ui-block-b " style="width: 46%; margin-left: 2%; ">
              
              		<h5>Busqueda por Cliente SA</h5>
              	
              		<form class="ui-filterable">
	      			  <input id="filterClientSA" data-type="search" placeholder="Busqueda de Clientes SA">
	    		    </form>
		    		<select name="idSAClientSearch" id="idSAClientSearch" data-filter="true" data-input="#filterClientSA">
						<option th:each="saClient : ${saClients}" th:value="${saClient.idSaClient}">
							<p name="saClient.detail" th:text="${saClient.detail}" th:value="${saClient.detail}" ></p>
						</option>
					</select>
					
					
              </div>
              
					
			</fieldset>
			
				<br>
				<div style="width: 95%; margin-left: 2%; margin-right: 2%;">
					<hr>
					<input  id="searchAssessment" type="button" value="Buscar" data-icon="search" onclick="searchAssessment();"></input>
				</div>
			</div>


	    
<!---------------------------------------------- TABLA DE PROYECTOS-------------------------------------------------------------------------------------------------------------------------------- -->
		    
			<div class="ui-grid-solo" id="detalleCoti">
		     <div class="ui-block-a" >
		        <fieldset>
		        	<h5>Proyectos:</h5>
		 			<form class="ui-filterable">
		      			<input id="myFilter3" data-type="search" placeholder="Busca proyecto">
		      			<div class="ui-block-b">
				       <div id="msg">
						
						</div>
				    	</div>
		    		</form> 
		    		
		    		<table data-role="table" dfe="movie-table" data-filter="true" data-input="#myFilter3" class="ui-responsive">
		    			<thead>
           				
           				<th>ID</th>
           				<th>Fecha de creación</th>
           				<th>Nombre</th>
           				<!-- <th>Tipo de Cambio <span th:text="${international}"></span></th> -->
           				<th>Cliente SA</th>
           				<th>Estado</th>
           				<th data-priority="7" title="Creado por"><span  class="parametersTable">Creado por</span><span class="columnHide2"></span>
       	 					<a id="showParameters" href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-check ui-btn-icon-notext ui-btn-inline" style="background-color: #009082;"></a>
       	 					<a id="hideParameters" href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-inline" style="background-color: #009082;"></a>
       	 				</th>
       	 				<th data-priority="7" title="Asignado a"><span class="detailTable">Asignado a</span><span class="columnHide"></span>
       	 					<a id="showDetails" href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-check ui-btn-icon-notext ui-btn-inline" style="background-color: #009082;"></a>
       	 					<a id="hideDetails" href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-inline" style="background-color: #009082;"></a>
       	 				</th>
       	 				<div th:if="${role != 'ADMINISTRATOR' and role != 'ADMIN'}">
           					<th style="padding-right: 15px;">
		            			<a id="addAssessment" href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-plus ui-btn-icon-notext ui-btn-inline" style="background-color: #009082;" title="Agregar proyecto">Plus</a>
		            			<a id="showSearchProposal" href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-search ui-btn-icon-notext ui-btn-inline" style="background-color: #708090;" title="Buscar">Search</a>
		            			<a id="hideSearchProposal" href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-inline" style="background-color: #708090;" title="Buscar">Cancel</a>
		                	</th>
		                </div>
           				<td  th:if="${role == 'ADMINISTRATOR' or role == 'ADMIN'}">
           					<a id="showSearchProposal" href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-search ui-btn-icon-notext ui-btn-inline" style="background-color: #708090;" title="Buscar">Search</a>
		            		<a id="hideSearchProposal" href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-inline" style="background-color: #708090;" title="Buscar">Cancel</a>
           				</td>
           				
           				</thead>
				        <tbody id="tbodyAssessment">
	           			<tr id="assessmentRow" th:each="project : ${projects}">
							<td id="idAssessment"><span th:text="${project.idAssessment}"></span></td>
							<td id="creationDate"><span th:text="${#dates.format(project.creationDate, 'dd/MM/yyyy')}"></span></td>
							<td id="detail" ><span th:text="${project.detail}"></span></td>
							<!-- <td id="currencyExchange" ><span th:text="|${favorite} ${project.currencyExchange}|"></span></td> -->
							<td id="saClient" ><span th:text="${project.saClient.detail}"></span></td>
							<td id="status" ><Span th:text="${project.status.detail}"></Span></td>
							<td class="parametersTable" style="padding-right: 15px;" id="name" ><span th:text="${project.user.name+' '+project.user.midname+' '+project.user.lastname}"></span></td>
							<td class="columnHide2"><span></span></td>
							<td class="detailTable" style="padding-right: 15px;" id="name" ><span th:text="${project.userAssigned.name+' '+project.userAssigned.midname+' '+project.userAssigned.lastname}"></span></td>
							<td class="columnHide"><span></span></td>
							 <!-- IdS -->
						    <td style="display:none;" id="idSaClient" ><span th:text="${project.saClient.idSaClient}"></span></td>
							<td style="display:none;" id="idCurrencyExchange" ><span th:text="${project.currencyExchange}"></span></td>
							<td style="display:none;" id="idStatus" ><Span th:text="${project.status.idStatus}"></Span></td>
							<div th:if="${role == 'CONTRIBUTOR'}">
	           				<td>
	           					<a class="ui-link ui-btn ui-btn-b ui-icon-edit ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all" style="background-color: #8B4513;" onclick="editAssessment(this);" title="Editar"></a>
	           					<a class="ui-link ui-btn ui-btn-b ui-icon-action ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all"  style="background-color: #4A708B;" onclick="sharedProject(this);" title="Compartir"></a>
	           					<a class="ui-link ui-btn ui-btn-b ui-icon-bullets ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all"  style="background-color: #708090;" onclick="projectProposal(this);" title="Ver propuestas"></a>
	           				</td>
	           				</div>
	           				<div th:if="${role =='BOSS_CONTRIBUTOR'}">
	           				<td>
	           					<a class="ui-link ui-btn ui-btn-b ui-icon-edit ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all" style="background-color: #8B4513;" onclick="editAssessment(this);" title="Editar"></a>
	           					<a class="ui-link ui-btn ui-btn-b ui-icon-action ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all"  style="background-color: #4A708B;" onclick="sharedProject(this);" title="Compartir"></a>
	           					<a class="ui-link ui-btn ui-btn-b ui-icon-forward ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all" style="background-color: #528B8B;" onclick="assignProject(this);" title="Asignar"></a>
	           					<a class="ui-link ui-btn ui-btn-b ui-icon-bullets ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all"  style="background-color: #708090;" onclick="projectProposal(this);" title="Ver propuestas"></a>
	           				
	           				</td>
	           				</div>
	           				<div th:if="${role =='ADMINISTRATOR'}">
	           				<td>
	           					<a class="ui-link ui-btn ui-btn-b ui-icon-forward ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all" style="background-color: #528B8B;" onclick="assignProject(this);" title="Asignar"></a>
	           					<a class="ui-link ui-btn ui-btn-b ui-icon-bullets ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all"  style="background-color: #708090;" onclick="projectProposal(this);" title="Ver propuestas"></a>
	           				</td>
	           				</div>
	           				<td  th:if="${role =='ADMIN'}">
	           						<a class="ui-link ui-btn ui-btn-b ui-icon-bullets ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all"  style="background-color: #708090;" onclick="projectProposal(this);" title="Ver propuestas"></a>
	           				</td>
	           				
	           				
           				</tr>
           				<tr id="assessmentSharedRow"  th:each="sharedProject : ${sharedWithMe}">
							<td  id="idAssessment"><span th:text="${sharedProject.Assessment.idAssessment}"></span></td>
							<td  id="creationDate"><span th:text="${#dates.format(sharedProject.Assessment.creationDate, 'dd/MM/yyyy')} "></span></td>
							<td  id="detail" ><span th:text="${sharedProject.Assessment.detail}"></span></td>
							<!--  <td  id="currencyExchange" ><span th:text="|${settings.CurrencyTypeFavorite.symbol} ${sharedProject.Assessment.currencyExchange}|"></span></td>-->
							<td  id="saClient" ><span th:text="${sharedProject.Assessment.saClient.detail}"></span></td>
							<td  id="status" ><Span th:text="${sharedProject.Assessment.status.detail}"></Span></td>
							<td class="parametersTable" id="name" ><span th:text="${sharedProject.Assessment.user.name+' '+sharedProject.Assessment.user.midname+' '+sharedProject.Assessment.user.lastname}"></span></td>
							<td class="columnHide2"><span></span></td>
							<td class="detailTable" id="name" ><span th:text="${sharedProject.Assessment.userAssigned.name+' '+sharedProject.Assessment.userAssigned.midname+' '+sharedProject.Assessment.userAssigned.lastname}"></span></td>
							<td class="columnHide"><span></span></td>
							
							
							 <!-- IdS -->
						    <td style="display:none;" id="idSaClient" ><span th:text="${sharedProject.Assessment.saClient.idSaClient}"></span></td>
							<!-- <td style="display:none;" id="idCurrencyExchange" ><span th:text="${sharedProject.Assessment.currencyExchange.idCurrencyExchange}"></span></td> -->
							<td style="display:none;" id="idStatus" ><Span th:text="${sharedProject.Assessment.status.idStatus}"></Span></td>
							<td>
	           					<a class="ui-link ui-btn ui-btn-b ui-icon-bullets ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all"  style="background-color: #708090;" onclick="projectProposal(this);" title="Ver propuestas"></a>
	           				</td>
           				</tr>
          			    </tbody>
		    		</table>
		        </fieldset>       
		      </div>
		    </div>
	</div>
	<div id="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
		<div data-role="popup" data-position="left" id="adminmenu" th:replace="fragments/footer"></div>
		<!-- /panel -->	
	</div>
	</div>
</body>
</html>
