<!DOCTYPE html>
<html>
<head th:replace="fragments/header">
<meta charset="UTF-8"/>

</head>
<body onload="proposalLoad();">
	<div  data-role="page" data-theme="a" data-dom-cache="false" >
	
	
	
		<div data-role="header" data-position="inline" >
			<img src="img/unimer_logo.png" class="logotitle" th:src="@{/img/unimer_logo.png}">
            <h1>
            Cotizaciones
            </h1>
		</div>

		<div data-role="content" data-theme="a" style="width: 95%;margin: 1em auto;">
		
		
	<form action="#" id="proposalForm" method="POST" th:action="@{/admin/addproposal}"> <!-- PRIMER FORMULARIO -->
	
	
    <div class="ui-grid-b" id="cotiHeader1">
    
    
    
      <div class="ui-block-a">
        <label for="cotizacion"> <h5>Número de Propuesta:</h5> <span th:text="${autoIncrement}" ></span></label>
         <input name="idProposal" type="hidden" value="0"></input>
      </div>
      
      <div class="ui-block-b" data-inline=true>
         <label style=" width: 99%;" for="cotizacion"><h5>Nombre de propuesta:</h5> <input id="proposalName" placeholder="Nombre para la propuesta"  title="Debe ingresar un nombre para la propuesta" type="text" name="proposalName" th:value="${proposalName}" required/></label>
     
      	
      </div>
      <div class="ui-block-c">
       
      
      </div> 
       
	</div>
	
	<div class="ui-grid-b" id="cotiHeader2">
    
      <div class="ui-block-a">
     
      </div>
      <div class="ui-block-b" >
    
      </div>
      
      <div class="ui-block-c">
       
      </div> 
           
	</div>
	
	<div data-role="navbar">
			<ul>
				<li class="first"><a id="firstLink" href="#">Información General</a></li>
				<li title="Debe completar la información general para ir a este apartado"><a>Detalle de la Cotizacion</a></li>
				<li title="Debe completar la informaciójn general y los detalles de cotización para ir a este apartado "><a>Escenarios de Facturacion</a></li>
			</ul>
	</div>
	
	<div class="ui-grid-b" id="generalInfo" style="display: none;">
    
      <div class="ui-block-a" >
        <fieldset style="margin: 30px;">
        	
        	<div class="paso1">
        	<legend><h1>Paso 1</h1></legend>
        	
        	<label for="initialDate"><h5>Fecha inicio operaciones:</h5></label>
        	<input id="initialDate" name="initialDate" th:value="${initialDate}"   data-role="datebox" data-options='{ "mode": "calbox", "overrideDateFormat": "%m/%d/%Y" }' type="text" required />  
        	<label for="endDate"><h5>Fecha de entrega final:</h5></label>
        	<input id="endDate" name="endDate"  th:value="${endDate}"  data-role="datebox" data-options='{ "mode": "calbox", "overrideDateFormat": "%m/%d/%Y" }'  type="text" required/>   
			
        	<label for="cotizacion"><h5>Tipo de Proyecto:</h5></label>
        	<select name="projectType" th:value="${projectType}">
  				<option value="Cuantitativo">Cuantitativo</option>
  				<option value="Cualitativo">Cualitativo</option>
			</select>
			
			<label for="status"><h5>Estado</h5></label>
        	<select name="idStatus">
				<option th:each="status : ${statuss}" th:value="${status.idStatus}">
					<p name="status.detail" th:text="${status.detail}" th:value="${status}" ></p>
				</option>
			</select>
      
			<label for="country"><h5>Pais donde se realizara el estudio:</h5></label>
        	<select name="idCountry">
				<option th:each="country : ${countries}" th:value="${country.idCountry}">
					<p name="country.detail" th:text="${country.detail}" th:value="${country.detail}" ></p>
				</option>
			</select>
			
			</div>
			
			<div class="paso2">
			
        	<legend><h1>Paso 2</h1></legend>
        	<label for="target"><h5>Muestreo:</h5></label>
        	<textarea id="targetText" name="targetText" style="border-bottom:1px solid green;" th:value="${targetText}" required></textarea>
  
        	<label for="observacion"><h5>Observacion:</h5></label>
        	<textarea id="observations" name="observations" style="border-bottom:1px solid green;" required></textarea>
        	
			
			</div>
			
			
			
			
        </fieldset>
        
        
      </div>
      <div class="ui-block-b">
       <fieldset style="margin: 30px;">
       
       		<div class="paso1">
       		<legend><h1><br/></h1></legend>
       		<label for="metodo"><h5>Metodo de recoleccion de datos:</h5></label>
        	<select name="idCollectMethod">
				<option name="collectMethod.idCollectMethod" th:each="collectMethod : ${collectmethods}" th:value="${collectMethod.idCollectMethod}">
					<p name="collectMethod.detail" th:text="${collectMethod.detail}" th:value="${collectMethod.detail}" ></p>
				</option>
			</select>
       		<label for="industry"><h5>Sector o industria:</h5></label>
        	<select name="idIndustrySector">
				<option th:each="industrySector : ${industrysectors}" th:value="${industrySector.idIndustrySector}">
					<p name="industrySector.detail" th:text="${industrySector.detail}" th:value="${industrySector.detail}" ></p>
				</option>
			</select>
			
			<label for="categoria"><h5>Categoria:</h5></label>
        	<select name="idStudyCategory">
				<option th:each="studyCategory : ${studyCategories}" th:value="${studyCategory.idStudyCategory}">
					<p name="studyCategory.detail" th:text="${studyCategory.detail}" th:value="${studyCategory.detail}" ></p>
				</option>
			</select>
			
			<label for="tipoEstudio"><h5>Tipo de estudio:</h5></label>
        	<select name="idStudyType">
				<option th:each="studyType : ${studytypes}" th:value="${studyType.idStudyType}">
					<p name="studyType.detail" th:text="${studyType.detail}" th:value="${studyType.detail}" ></p>
				</option>
			</select>
			
			<label for="tipoEstudio"><h5>Continuo/Tracker:</h5></label>
        	<select  name="tracker" th:value="${tracker}">
  				<option value="Aplica">Aplica</option>
  				<option value="No aplica">No Aplica</option>
			</select>
			
			<input type="hidden" name="idCurrencyType" id="idCurrencyType" th:value="${settings.CurrencyTypeFavorite.idCurrencyType}"/>
		
			
       		</div>
       		
       		
       		<div class="paso2">
			
        	<legend><h1>Paso 3</h1></legend>
        	<h5>Tecnicas/Modelo:</h5>
    		<form class="ui-filterable">
      			<input id="myFilter" data-type="search" placeholder="Busca las tecnicas/modelos">
    		</form>
    		
    		<select name="idTechnique" data-filter="true" data-input="#myFilter">
				<option th:each="technique : ${techniques}" th:value="${technique.idTechnique}">
					<p name="technique.detail" th:text="${technique.detail}" th:value="${technique.detail}" ></p>
				</option>
			</select>
    	
    	
    		<!--	
    			<form class="ui-filterable">
      			<input id="myFilter" data-type="search" placeholder="Busca las tecnicas/modelos">
    			</form>
    
    
   				 <ul  data-role="listview" data-filter="true" data-input="#myFilter" data-autodividers="true" data-inset="true">
      			<li id="getId" th:each="technique : ${techniques}"  selected>
      				<a href="#" th:text="${technique.detail}" th:value="${technique.idTechnique}" ></a>
      				    <input type="hidden" id="idTechnique" name="idTechnique" th:value="${technique.idTechnique}" ></input>
      			</li>
    		</ul> -->
    		
       		</div>
       
       
        </fieldset>
      </div>
      <div class="ui-block-c">
       <fieldset style="margin: 30px;">
       
       <div class="paso1">
       <legend><h1><br/></h1></legend>
       	<label for="assessment"><h5>Evaluación:</h5></label>
        	<select name="idAssessment">
				<option th:each="assessment : ${assessments}" th:value="${assessment.idAssessment}">
					<p name="assessment.detail" th:text="${assessment.detail  + ' - ' + assessment.saClient.detail}" th:value="${assessment.detail}" ></p>
				</option>
			</select>
			
			<label for="clientContact"><h5>Contacto de cliente:</h5></label>
        	<select name="idClientContact">
				<option th:each="clientContact : ${clientContacts}" th:value="${clientContact.idClientContact}">
					<p name="clientContact.name" th:text="${clientContact.name+' - '+clientContact.Client.detail}" th:value="${clientContact.name}" ></p>
				</option>
			</select>
			
			<label for="executionType"><h5>Tipo de ejecución:</h5></label>
        	<select name="idExecutionType">
				<option th:each="executionType : ${executionTypes}" th:value="${executionType.idExecutionType}">
					<p name="executionType.detail" th:text="${executionType.detail}" th:value="${executionType.detail}" ></p>
				</option>
			</select>
			
			
			<label for="operation"><h5>Operaciones:</h5></label>
        	<select name="idOperation">
				<option th:each="operation : ${operations}" th:value="${operation.idOperation}">
					<p name="operation.detail" th:text="${operation.detail  + ' - ' + operation.OperationType.detail}" th:value="${operation.detail}" ></p>
				</option>
			</select>
			
				
			<label for="proposalType"><h5>Tipos de propuesta:</h5></label>
        	<select name="idProposalType">
				<option th:each="proposalType : ${proposalTypes}" th:value="${proposalType.idProposalType}">
					<p name="proposalType.detail" th:text="${proposalType.detail}" th:value="${proposalType.detail}" ></p>
				</option>
			</select>
       		
       		
       
       </div>
       
       <div class="paso2">
       		<legend><h1>Paso 4</h1></legend>
       		<label for="executionType"><h5>Guardar información general</h5></label>
       		<input id="proposalSubmit" type="button" value="Guardar" data-icon="check"></input>
       		<div id="msg"></div>
       </div>
       
    		
        </fieldset>
      </div> 
       </div>
       		
       	<div class="paso1">
       			<a id="aPaso2" class=" ui-btn ui-icon-arrow-r ui-btn-icon-right ">Siguiente paso</a>
       	</div>
       		
       	<div class="paso2">
       			<a id="aPaso1" class=" ui-btn ui-icon-arrow-l ui-btn-icon-left ">Regresar al paso anterior</a>
       	</div>
       		
       	

       
	</form> <!-- PRIMER FORMULARIO -->
	
		<div id="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div data-role="popup" data-position="left" id="adminmenu" th:replace="fragments/footer"></div>
		<!-- /panel -->	
		</div>
	</div>
	</div>
</body>
</html>
