<!DOCTYPE html>
<html>
<head th:replace="fragments/header">
<meta charset="UTF-8"/>
</head>
<body>
	<div data-role="page" data-theme="a" data-dom-cache="false" >
		<div data-role="header" data-position="inline" >
			<img src="img/unimer_logo.png" class="logotitle" th:src="@{/img/unimer_logo.png}">
            <h1>
            Cotizaciones
            </h1>
		</div>

		<div data-role="content" data-theme="a" style="width: 80%;margin: 1em auto;">
		
    <div class="ui-grid-b" id="cotiHeader1">
    
    <input type="hidden" th:text="${email}" th:value="${email}"></input>
      <div class="ui-block-a">
        <label for="cotizacion"> <h5>Numero de Propuesta:</h5> <span th:text="${autoIncrement}" ></span></label>
      </div>
      <div class="ui-block-b" data-inline=true>
         <label style=" width: 99%;" for="cotizacion"><h5>Nombre de Cotizacion:</h5> <input placeholder="Nombre para la cotización"  title="Debe ingresar un nombre para la propuesta" type="text" name="proposalName" th:value="${proposalName}" required/></label>
      	
      		<label for="executionType"><h5>Estado</h5></label>
        	<select name="status.idStatus">
				<option th:each="status : ${statuss}" th:value="${status.idStatus}">
					<p name="status.detail" th:text="${status.detail}" th:value="${status.detail}" ></p>
				</option>
			</select>
      
      </div>
      <div class="ui-block-c">
       
        <label for="dateStart"><h5>Fecha inicio operaciones:</h5></label>
        <input type="date" name="dateStart">
        <label for="dateEnd"><h5>Fecha de entrega final:</h5></label>
        <input type="date" name="dateEnd">
			
      </div> 
       
	</div>
	
	<div class="ui-grid-b" id="cotiHeader2">
    
      <div class="ui-block-a">
     
      </div>
      <div class="ui-block-b" >
    
      </div>
      
      <div class="ui-block-c">
       
      </div> 
           
	</div>
	
	<div data-role="navbar">
			<ul>
				<li class="first"><a href="#">Informacion General</a></li>
				<li class="second"><a href="#">Detalle de la Cotizacion</a></li>
				<li class="third"><a href="#">Escenarios de Facturacion</a></li>
			</ul>
	</div>
	
	<div class="ui-grid-b" id="generalInfo" style="display: none;">
    
      <div class="ui-block-a" >
        <fieldset style="margin: 30px;">
        	<legend><h1>Paso 1</h1></legend>
        	<label for="cotizacion"><h5>Tipo de Proyecto:</h5></label>
        	<select>
  				<option value="1">Cuantitativo</option>
  				<option value="2">Cualitativo</option>
			</select>
			
			<label for="sector"><h5>Pais donde se realizara el estudio:</h5></label>
        	<select name="country.idCountry">
				<option th:each="country : ${countries}" th:value="${country.idCountry}">
					<p name="country.detail" th:text="${country.detail}" th:value="${country.detail}" ></p>
				</option>
			</select>
			
			<label for="metodo"><h5>Metodo de recoleccion de datos:</h5></label>
        	<select name="collectMethod.idCollectMethod">
				<option th:each="collectMethod : ${collectmethods}" th:value="${collectMethod.idCollectMethod}">
					<p name="collectMethod.detail" th:text="${collectMethod.detail}" th:value="${collectMethod.detail}" ></p>
				</option>
			</select>
			
			<label for="industry"><h5>Sector o industria:</h5></label>
        	<select name="industrySector.idIndustrySector">
				<option th:each="industrySector : ${industrysectors}" th:value="${industrySector.idIndustrySector}">
					<p name="industrySector.detail" th:text="${industrySector.detail}" th:value="${industrySector.detail}" ></p>
				</option>
			</select>
			
			<label for="categoria"><h5>Categoria:</h5></label>
        	<select name="studyCategory.idStudyCategory">
				<option th:each="studyCategory : ${studyCategories}" th:value="${studyCategory.idStudyCategory}">
					<p name="studyCategory.detail" th:text="${studyCategory.detail}" th:value="${studyCategory.detail}" ></p>
				</option>
			</select>
			
			<label for="tipoEstudio"><h5>Tipo de estudio:</h5></label>
        	<select name="studyType.idStudyType">
				<option th:each="studyType : ${studytypes}" th:value="${studyType.idStudyType}">
					<p name="studyType.detail" th:text="${studyType.detail}" th:value="${studyType.detail}" ></p>
				</option>
			</select>
			
			<label for="tipoEstudio"><h5>Continuo/Tracker:</h5></label>
        	<select>
  				<option value="1">Aplica</option>
  				<option value="2">No Aplica</option>
			</select>
			
			<label for="currencyType"><h5>Tipo de moneda:</h5></label>
        	<select name="currencyType.idCurrencyType">
				<option th:each="currencyType : ${countryByCurrencyType}" th:value="${currencyType.idCurrencyType}">
					<p name="currencyType.detail" th:text="${currencyType.detail}" th:value="${currencyType.detail}" ></p>
				</option>
			</select>
			
			<label for="assessment"><h5>Evaluación:</h5></label>
        	<select name="assessment.idAssessment">
				<option th:each="assessment : ${assessments}" th:value="${assessment.idAssessment}">
					<p name="assessment.detail" th:text="${assessment.detail  + ' - ' + assessment.saClient.detail}" th:value="${assessment.detail}" ></p>
				</option>
			</select>
			
			<label for="clientContact"><h5>Contacto de cliente:</h5></label>
        	<select name="clientContact.idClientContact">
				<option th:each="clientContact : ${clientContacts}" th:value="${clientContact.idClientContact}">
					<p name="clientContact.name" th:text="${clientContact.name}" th:value="${clientContact.name}" ></p>
				</option>
			</select>
			
			<label for="executionType"><h5>Tipo de ejecución:</h5></label>
        	<select name="executionType.idExecutionType">
				<option th:each="executionType : ${executionTypes}" th:value="${executionType.idExecutionType}">
					<p name="executionType.detail" th:text="${executionType.detail}" th:value="${executionType.detail}" ></p>
				</option>
			</select>
			
			
			<label for="executionType"><h5>Operaciones:</h5></label>
        	<select name="operation.idOperation">
				<option th:each="operation : ${operations}" th:value="${operation.idOperation}">
					<p name="operation.detail" th:text="${operation.detail  + ' - ' + operation.OperationType.detail}" th:value="${operation.detail}" ></p>
				</option>
			</select>
			
				
			<label for="proposalType"><h5>Tipos de propuesta:</h5></label>
        	<select name="proposalType.idProposalType">
				<option th:each="proposalType : ${proposalTypes}" th:value="${proposalType.idProposalType}">
					<p name="proposalType.detail" th:text="${proposalType.detail}" th:value="${proposalType.detail}" ></p>
				</option>
			</select>
			
        </fieldset>
        
        
      </div>
      <div class="ui-block-b">
       <fieldset style="margin: 30px;">
        	<legend><h1>Paso 2</h1></legend>
        	<label for="target"><h5>Muestreo:</h5></label>
        <!-- 	<select name="target.idTarget">
				<option th:each="target : ${targets}" th:value="${target.idTarget}">
					<p name="target.observations" th:text="${target.observations}" th:value="${target.observations}" ></p>
				</option>
			</select> -->
        	<textarea name="target" id="info" style="border-bottom:1px solid green;"></textarea>
        	
        	<label for="observacion"><h5>Observacion:</h5></label>
        	<textarea name="observacion" id="info" style="border-bottom:1px solid green;"></textarea>
        	
        	
        	
        </fieldset>
      </div>
      <div class="ui-block-c">
       <fieldset style="margin: 30px;">
        	<legend><h1>Paso 3</h1></legend>
        	<h5>Tecnicas/Modelo:</h5>
    		<form class="ui-filterable">
      			<input id="myFilter" data-type="search" placeholder="Busca las tecnicas/modelos">
    		</form>
    		<ul data-role="listview" data-filter="true" data-input="#myFilter" data-autodividers="true" data-inset="true">
      			<li th:each="technique : ${techniques}" th:value="${technique.idTechnique}">
      				<a href="#" th:text="${technique.detail}" th:value="${technique.detail}"></a>
      			</li>
    		</ul>
    		
    		<button  onclick="return window.location.href='/admin/technique'" class="ui-btn">Agregar-Tecnica/Modelos</button>
    		
        </fieldset>
      </div> 
       
	</div>
	
	<div class="ui-grid-b" id="detalleCoti" style="display: none;">
     <div class="ui-block-a" >
        <fieldset style="margin: 30px;">
        	<h5>Partidas:</h5>
 			<form class="ui-filterable">
      			<input id="myFilter2" data-type="search" placeholder="Busca la partida">
      			<div class="ui-block-b">
		        <button class="ui-icon-delete ui-btn-icon-notext ui-btn-inline" data-mini="true">Eliminar Seleccion</button>
		    	</div>
    		</form> 
    		
    		<table data-role="table" id="movie-table" data-filter="true" data-input="#myFilter2" class="ui-responsive">
    			<thead>
		        <tr>
		            <th data-priority="1">Opcion</th>
		            <th data-priority="persist">Codigo</th>
		            <th data-priority="2">Partida</th>
		            <th data-priority="3">Precio</th>
		            <th data-priority="4">Numero</th>
		            <th data-priority="5">Dias/Veces</th>
		            <th data-priority="6">Total Presupuesto</th>
		            <th data-priority="7">Estado Partida</th>
		            <th data-priority="8">
		            	<a href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-plus ui-btn-icon-notext ui-btn-inline" style="background-color: #009082;">Plus</a>
		            </th>
		        </tr>
        		</thead>
		        <tbody>
		            <tr>
		                <th><input type="checkbox"/></th>
		                <td>74</td>
		                <td>Codificacion</td>
		                <td>300.00</td>
		                <td>300.00</td>
		                <td>1</td>
		                <td>90.000,00</td>
		                <td>(fact de 2.39), (Impre 10%)</td>
		                <td><a class="ui-link ui-btn ui-btn-b ui-icon-edit ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all" th:href="@{/admin/dialogoPartidas}" data-rel="dialog" data-transition="flip" style="background-color: #009082;"></a></td>
		            </tr>
		            <tr  style="color:white; background:#005d54;">
		                <th><input type="checkbox"/></th>
		                <td>74</td>
		                <td>Codificacion</td>
		                <td>300.00</td>
		                <td>300.00</td>
		                <td>1</td>
		                <td>90.000,00</td>
		                <td>(fact de 2.39), (Impre 10%)</td>
		                <td><a class="ui-link ui-btn ui-btn-b ui-icon-edit ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all" th:href="@{/admin/dialogoPartidas}" data-rel="dialog" data-transition="flip" style="background-color: #009082;"></a></td>
		            </tr>
		            <tr>
		                <th><input type="checkbox"/></th>
		                <td>74</td>
		                <td>Codificacion</td>
		                <td>300.00</td>
		                <td>300.00</td>
		                <td>1</td>
		                <td>90.000,00</td>
		                <td>(fact de 2.39), (Impre 10%)</td>
		               <td><a class="ui-link ui-btn ui-btn-b ui-icon-edit ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all" th:href="@{/admin/dialogoPartidas}" data-rel="dialog" data-transition="flip" style="background-color: #009082;"></a></td>
		            </tr>
		        </tbody>
    		</table>
        </fieldset>       
      </div>
      <div class="ui-block-b">
       <fieldset style="margin: 30px;">
			<!-- Esta no se debe quitar por que es la que va  -->
       </fieldset>
      </div>
      <div class="ui-block-c">
       <fieldset style="margin: 30px;">
        	<h3>Comisionable</h3>
      		<table>
      			<tr>
      				<th>Sub Total 1: $</th>
      				<td><input type="text"/></td>
      			</tr>
      			<tr>
      				<th>Imprevisto %: $</th>
      				<td><input type="number"/></td>
      			</tr>
      			<tr>
      				<th>Total Imprevisto: $</th>
      				<td><input type="text"/></td>
      			</tr>
      			<tr>
      				<th>Sub Total 2: $</th>
      				<td><input type="text"/></td>
      			</tr>
      			<tr>
      				<th>Factor 1: $: $</th>
      				<td><input type="text"/></td>
      			</tr>
      			<tr>
      				<th>Sub Total 3: $</th>
      				<td><input type="text"/></td>
      			</tr>
      			<tr>
      				<th>Aporte Fijo: $</th>
      				<td><input type="text"/></td>
      			</tr>
      			<tr>
      				<th>Total 1: $</th>
      				<td><input type="text"/></td>
      			</tr>
      			<tr>
      				<th>Tipo Cambio: $</th>
      				<td><input type="text"/></td>
      			</tr>
      		</table>
      		
      		<h3>No Comisionable</h3>
      		<table>
      			<tr>
      				<th>Sub Total 4: $</th>
      				<td><input type="text"/></td>
      			</tr>
      			<tr>
      				<th>Factor 2: $</th>
      				<td><input type="text"/></td>
      			</tr>
      			<tr>
      				<th>Sub Total 5: $</th>
      				<td><input type="text"/></td>
      			</tr>
      			<tr>
      				<th>Total 2: $</th>
      				<td><input type="text"/></td>
      			</tr>
      		</table>
    		
    		
       </fieldset>
      </div>

    </div>
	<div class="ui-grid-b" id="facturaEscena" style="display: none;">
    
      <div class="ui-block-a">
        <p>Esta Tercera Parte es el ultimo entregable</div>
      </div>
       
	</div>
	
	
	<script type="text/javascript">
		window.load = userSet();
		
	</script>
	<!--  <script type ="text/javascript">
			$(document).ready(function(){
				
				var array = [];
						$.getJSON("/admin/proposalcount",
								function(countV)
								{
																	
									var obj =  { 
											
												id : 1,
												detail : "Tipos de proyecto", 							
												count : countV,
												detail2 : "PRT-1", 
												detail3 : 1
												};
										var counter = countV;
							
										$.ajax({								
										type: 'GET',								
										url :'/admin/addQueryCatalog',
										data : obj,
										success:
											function(datos)
										{
											if(counter > datos)
											{
												$.getJSON("/admin/getProposalTypes",function(objects)
														{
														
															$.each(objects, function (i, item){
																alert(JSON.stringify(item['detail']));
															});
														
														});
												
											}else
											{
												$.getJSON("/admin/getProposalTypes",function(objects)
														{
													
															$.each(objects, function (i, item){
																var object =
																{
																		id : item['idProposalType'],
																		detail : item['detail']
																};			
																
																array.push(object);
																
															});
																											
															localStorage.setItem('proposalTypes', JSON.stringify(array));
															
															//localStorage.setItem('proposalTypes', JSON.stringify(allProposalTypes));
															
														});
											}
											
										}
											
									});
								     var s = localStorage.getItem('proposalTypes');
								     var arr = $.map(JSON.parse(s), function(el){return el});
								     $.each(arr, function(i, item)
								    		 {
								    			alert(item['detail']);	 
								    		 });
								     
						
								     
						
								});	
				
							$.getJSON("/admin/studycategorycount", 
									function(countV){
								var obj =  { 
										
										id : 2,
										detail : "Categorías de estudio", 							
										count : countV,
										detail2 : "PRT-1", 
										detail3 : 1
										};
								$.ajax({
									type: 'GET',
									url : '/admin/addQueryCatalog',
									data: obj,
									success:
										function()
										{
											
										}
								});
									
							});
							$.getJSON("/admin/industysectorcount", 
									function(countV){
								var obj =  { 
										
										id : 3,
										detail : "Sectores de industria", 							
										count : countV,
										detail2 : "PRT-1", 
										detail3 : 1
										};
								$.ajax({
									type: 'GET',
									url : '/admin/addQueryCatalog',
									data: obj,
									success:
										function()
										{
											
										}
								});
									
							});
											
				
						
			});
			
		</script> -->
	
		<div id="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div data-role="popup" data-position="left" id="adminmenu" th:replace="fragments/footer"></div>
		<!-- /panel -->	
		</div>
	</div>
</body>
</html>
