<!DOCTYPE html>

<html>
<head th:replace="fragments/header">
<meta charset="UTF-8">
</head>
<body>
	<div data-role="page" data-theme="a" data-dom-cache="false" >
		<div data-role="header" data-position="inline" >
			<img src="img/unimer_logo.png" class="logotitle" th:src="@{/img/unimer_logo.png}">
            <h1>
            SIP Cotizaciones - Ajustes
            </h1>
		</div>
		<div data-role="content" data-theme="a" style="width: 80%;margin: 1em auto;">
		<h3>Control de ajustes</h3>
			<div data-role="fieldcontain">
			
					<form id="formSettings" method="POST" action="javascript:sendFormSettings();" >
					
						<input id="idSettings" type="hidden" name="idSettings" th:value="0" readonly />
						
							<label for="currencyType">Tipo de modena favorita</label> 
							<select id="currencyTypeFavorite" name="currencyTypeFavorite.idCurrencyType">
								<option th:each="type : ${currencyTypes}" th:value="${type.idCurrencyType}" th:if="${type.favorite==0}">
									<p name="type.detail" th:text="${type.detail}" th:value="${type.detail}" ></p>
								</option>
							</select>
							<label for="currencyType">Tipo de principal internacional</label> 
							<select id="currencyTypeInternational" name="currencyTypeInternational.idCurrencyType">
								<option th:each="type : ${currencyTypes}" th:value="${type.idCurrencyType}" th:if="${type.favorite==1}">
									<p name="type.detail" th:text="${type.detail}" th:value="${type.detail}" ></p>
								</option>
							</select>
							<label for="imprevisto">Imprevisto %:</label>
							<input id="imprevisto" title="Debe ingresar el porcentaje de imprevisto" type="number"  min="0" max="50" step="any" name="imprevisto" th:value="${imprevisto}" required/>
							<label for="factor1">Factor 1 (Comisionables):</label>
							<input id="factor1" title="Debe ingresar el valor del factor 1" type="number" min="0" step="any" name="factor1" th:value="${factor1}"  required/>	
							<label for="aporteFijo">Aporte fijo:</label>
							<input id="aporteFijo" title="Debe ingresar el aporte fijo" type="number"  min="0"  step="any" name="aporteFijo" th:value="${aporteFijo}" required/>
							<label for="factor2">Factor 2 (No comisionables):</label>
							<input id="factor2" title="Debe ingresar el valor del factor 1" type="number" min="0" step="any" name="factor2" th:value="${factor2}"  required/>	
							
					<div id="msg"></div>
                    <hr>
                    <a id="settingsCancel" type="button"  style="display:none;" data-icon="delete" onclick="clearSettings();"><input data-icon="delete" type="button" value="Cancelar"/></a>
  					<input type="submit" name="submit" class="custom_text" data-icon="plus" value="Guardar">
                  
				</form>
			</div>
           	
           	
           	<fieldset data-role="controlgroup"  data-type="horizontal">
           	<legend><h3>Países en el sistema</h3></legend>
           		<table style="text-align:justify;">
           				<thead>
           				<tr>
           				<th  style="padding-right: 15px;">ID</th>
           				<th  style="padding-right: 15px;">País</th>
           				<th  style="padding-right: 15px;">Favorita</th>
           				<th  style="padding-right: 15px;">Principal internacional</th>
           				<th  style="padding-right: 15px;">Imprevisto</th>
           				<th  style="padding-right: 15px;">Factor 1</th>
           				<th  style="padding-right: 15px;">Aporte fijo</th>
           				<th  style="padding-right: 15px;">Factor 2</th>
           				<th  style="padding-right: 15px;">Opción</th>
           				</tr>
           				</thead>
           				<tbody id="tbodySettings">
	           			<tr id="settingsRow" th:each="countrySetting : ${countrySettings}">
							<td id="idSettings" style="padding-right: 15px;"><span th:text="${countrySetting.idSettings}"></span></td>
							<td style="padding-right: 15px;"><span  th:text="${countrySetting.Country.detail}"></span></td>
							<td style="padding-right: 15px;"><span  th:text="${countrySetting.CurrencyTypeFavorite.detail}"></span></td>
							<td style="padding-right: 15px;"><span  th:text="${countrySetting.CurrencyTypeInternational.detail}"></span></td>
							<td id="imprevisto" style="padding-right: 15px;"><span th:text="${countrySetting.imprevisto}+'%'"></span></td>
							<td id="factor1" style="padding-right: 15px;"><span  th:text="${countrySetting.factor1}"></span></td>
							<td id="aporteFijo" style="padding-right: 15px;"><span  th:text="${countrySetting.aporteFijo}"></span></td>
							<td id="factor2" style="padding-right: 15px;"><span  th:text="${countrySetting.factor2}"></span></td>
	           				<td style="padding-right: 15px;"><a href="#" onclick="editSettings(this);">Editar</a></td>
	           				
	           				
	           				<!-- display;none tds -->
							<td style="padding-right: 15px;display:none;" id="idCurrencyTypeFavorite"><span th:text="${countrySetting.CurrencyTypeFavorite.idCurrencyType}"></span></td>
							<td style="padding-right: 15px;display:none;" id="idCurrencyTypeInternational"><span th:text="${countrySetting.CurrencyTypeInternational.idCurrencyType}"></span></td>
           				</tr>
           				
          			</tbody>
           			</table>
           	</fieldset>
           	
		</div>
		<div id="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div data-role="popup" data-position="left" id="adminmenu" th:replace="fragments/footer"></div>
		<!-- /panel -->	
		</div>
	</div>
</body>
</html>
