<!DOCTYPE html>

<html>
<head th:replace="fragments/header">
	<meta charset="UTF-8">
</head>
<body>
	<div data-role="page" data-theme="a" data-dom-cache="false" >
		<div data-role="header" data-position="inline" >
			<img src="img/unimer_logo.png" class="logotitle" th:src="@{/img/unimer_logo.png}">
            <h1>
            SIP Cotizaciones - Categorías de estudio
            </h1>
		</div>
		<div data-role="content" data-theme="a" style="width: 80%;margin: 1em auto;">
		<h3>Control de categorías de estudio</h3>
			<div data-role="fieldcontain">
			
					<form method="post" action="#" th:action="@{/admin/addStudyCategory}" th:object="${updateStudyCategory}" >
						<div th:if="${updateStudyCategory==null}">
							<label for="detail">Detalle:</label>
							<input title="Debe ingresar el nombre del país" type="text" name="detail" th:value="${detail}" required/>
						</div>
						
						<div th:if="${updateStudyCategory!=null}">
							<input type="hidden" name="idStudyCategory" th:value="${updateStudyCategory.idStudyCategory}" readonly />
							<label for="detail">Detalle:</label>
							<input title="Debe ingresar el nombre del país" type="text" name="detail" th:value="${updateStudyCategory.detail}" required/>
							<a href="#" th:href="@{/admin/addStudyCategory}"><button  class="custom_text" data-icon="Cancel">Cancelar</button></a>
						</div>
                    	<hr>
  					<input type="submit" name="submit" class="custom_text" data-icon="plus" value="Guardar">
				</form>
			</div>
           	
           	
           	<fieldset data-role="controlgroup"  data-type="horizontal">
           	<legend><h3>Categorías de estudio en el sistema</h3></legend>
           		<table style="text-align:justify;">
           				<thead>
           				<tr>
           				<th  style="padding-right: 15px;">ID</th>
           				<th  style="padding-right: 15px;">Detalle</th>
           				<th  style="padding-right: 15px;">Opción</th>
           				</tr>
           				</thead>
           				<tbody>
	           			<tr th:each="studyCategory: ${studyCategories}">
							<td style="padding-right: 15px;" th:text="${studyCategory.idStudyCategory}"></td>
							<td style="padding-right: 15px;" th:text="${studyCategory.detail}"></td>
							
	           				<td style="padding-right: 15px;"><a href="#" th:href="@{/admin/chargestudyCategory?idStudyCategory=__${studyCategory.idStudyCategory}__}"  >Editar</a></td>
	           				
           				</tr>
           				
          			</tbody>
           			</table>
           	</fieldset>
           	
		</div>
		<div id="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div data-role="popup" data-position="left" id="adminmenu" th:replace="fragments/footer"></div>
		<!-- /panel -->	
		</div>
	</div>
</body>
</html>


