<html>
<head th:replace="fragments/header"></head>
<body>
	<div data-role="page" data-theme="a" data-dom-cache="false" >
		<div data-role="header" data-position="inline" >
			<img src="img/unimer_logo.png" class="logotitle" th:src="@{/img/unimer_logo.png}">
            <h1>
            SIP Cotizaciones - Categoria de estudio
            </h1>
		</div>
		<div data-role="content" data-theme="a" style="width: 80%;margin: 1em auto;">
		<h3>Control de categorias de estudio</h3>
			<div data-role="fieldcontain">
					<form method="post" action="#" th:action="@{/admin/addStudyCategory}" th:object="${studyCategory}" >
					<input type="hidden" name="idStudyCategory" value=""  th:value="${idStudyCategory}" />

					<label for="detail">Detalle:</label>
					<input title="Debe ingresar el nombre de la categoría" type="text" name="detail"  th:value="${detail}" required autocomplete="off"/>
							
					
                    	<hr>
  					<input type="submit" name="submit" class="custom_text" data-icon="plus" value="Guardar nuevo">
                   <!--  <input type="submit" name="submit" class="custom_text" data-icon="refresh" value="Modificar registro">-->
				</form>
			</div>
           	
           	
           	<fieldset data-role="controlgroup"  data-type="horizontal">
           	<legend><h3>Categorias de estudio en el sistema</h3></legend>
           		<table style="text-align:justify;">
           				<thead>
           				<tr>
           				<th  style="padding-right: 15px;">ID</th>
           				<th  style="padding-right: 15px;">Detalle</th>
           			
           				</tr>
           				</thead>
           				<tbody>
	           			<tr th:each="studyCategory : ${studyCategories}">
							<td style="padding-right: 15px;" th:text="${studyCategory.idStudyCategory}"></td>
							<td style="padding-right: 15px;" th:text="${studyCategory.detail}"></td>						
	           				<td style="padding-right: 15px;"><a th:href="@{'/admin/doUpdate'${studyCategory.idStudyCategory}}"  ></a></td>
	           				<td>

           				</tr>
           				
          			</tbody>
           			</table>
           	</fieldset>
           	
		</div>
		<div id="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div data-role="popup" data-position="left" id="adminmenu" th:replace="fragments/footer"></div>
		<!-- /panel -->	
		</div>
	</div>
</body>
</html>
