<!DOCTYPE html>

<html>
<meta charset="UTF-8">
<head th:replace="fragments/header">
</head>
<body>
	<div data-role="page" data-theme="a" data-dom-cache="false" >
		<div data-role="header" data-position="inline" >
			<img src="img/unimer_logo.png" class="logotitle" th:src="@{/img/unimer_logo.png}">
            <h1>
            SIP Cotizaciones - Muestreo
            </h1>
		</div>
		<div data-role="content" data-theme="a" style="width: 80%;margin: 1em auto;">
		<h3>Control de Muestreo</h3>
			<div data-role="fieldcontain">
			
					<form method="post" action="#" th:action="@{/admin/addtarget}" th:object="${consecutive}" >
					
					<div  th:object="${updateTarget}" >
						<label for="idTarget">Id de la muestra:</label>
						
						<div th:if="${updateTarget==null}">
							<input  type="text" name="idTarget" th:value="${consecutive != null ? consecutive.prefix + '- '+consecutive.subfix  : 'TRT-1'}" disabled/>
							<label for="creationDate">Fecha de creación:</label>
							<input name="creationDate"  th:value="${creationDate}" data-role="datebox" data-options='{ "mode": "calbox", "overrideDateFormat": "%m/%d/%Y" }' type="date">   
							<label for="initialDate">Fecha de inicio:</label>
							<input name="initialDate" th:value="${initialDate}"   data-role="datebox" data-options='{ "mode": "calbox", "overrideDateFormat": "%m/%d/%Y" }' type="date">   
							<label for="endDate">Fecha de final:</label>			
							<input name="endDate"  th:value="${endDate}"  data-role="datebox" data-options='{ "mode": "calbox", "overrideDateFormat": "%m/%d/%Y" }'  type="date">   
							<label for="observations">Observaciones:</label>
							<input  type="text" th:value="${observations}" name="observations"/>
								
											
						</div>
						
						<div th:if="${updateTarget!=null}">
							<input type="text" name="idTarget" th:value="${updateTarget.idTarget}" readonly />
							<label for="creationDate">Fecha de creación:</label>
							<input name="creationDate"  th:value="${updateTarget.creationDate}" data-role="datebox" data-options='{ "mode": "calbox", "overrideDateFormat": "%m/%d/%Y" }' type="date">   
							<label for="initialDate">Fecha de inicio:</label>
							<input name="initialDate" th:value="${updateTarget.initialDate}"   data-role="datebox" data-options='{ "mode": "calbox", "overrideDateFormat": "%m/%d/%Y" }' type="date">   
							<label for="endDate">Fecha de final:</label>			
							<input name="endDate"  th:value="${updateTarget.endDate}"  data-role="datebox" data-options='{ "mode": "calbox", "overrideDateFormat": "%m/%d/%Y" }'  type="date">   
							<label for="observations">Observaciones:</label>
							<input  type="text" th:value="${updateTarget.observations}" name="observations"/>  
														
						</div>
				
						
                    	<hr>
                    </div>
  					<input type="submit" name="submit" class="custom_text" data-icon="plus" value="Guardar nuevo">
                   <!--  <input type="submit" name="submit" class="custom_text" data-icon="refresh" value="Modificar registro">-->
				</form>
			</div>
           	
           		
           	<fieldset data-role="controlgroup"  data-type="horizontal">
           	<legend><h3>Roles en el sistema</h3></legend>
           		<table style="text-align:justify;">
           				<thead>
           				<tr>
           				<th  style="padding-right: 15px;">ID</th>
           				<th  style="padding-right: 15px;">Fecha de creación</th>
           				<th  style="padding-right: 15px;">Fecha de inicio</th>
           				<th  style="padding-right: 15px;">Fecha de final</th>
           				<th  style="padding-right: 15px;">Observaciones</th>
           				</tr>
           				</thead>
           				<tbody>
	           			<tr th:each="target : ${targets}">
							<td style="padding-right: 15px;" th:text="${target.idTarget}"></td>
							<td style="padding-right: 15px;" th:text="${target.creationDate}"></td>
							<td style="padding-right: 15px;" th:text="${target.initialDate}"></td>
							<td style="padding-right: 15px;" th:text="${target.endDate}"></td>
							<td style="padding-right: 15px;" th:text="${target.observations}"></td>
	           				<td style="padding-right: 15px;"><a href="#" th:href="@{/admin/chargetarget?idTarget=__${target.idTarget}__}"  >Update</a></td>
	           				
           				</tr>
           				
          			</tbody>
           			</table>
           	</fieldset>
         
           	
		</div>
		<div id="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div data-role="popup" data-position="left" id="adminmenu" th:replace="fragments/footer"></div>
		<!-- /panel -->	
		</div>
	</div>
</body>
</html>