<!DOCTYPE html>
<html>
<head th:replace="fragments/header">
<meta charset="UTF-8"/>
</head>
<body>
	<div data-role="page" data-theme="a" data-dom-cache="false" >
		<div data-role="header" data-position="inline" >
			<img src="img/unimer_logo.png" class="logotitle" th:src="@{/img/unimer_logo.png}">
            <h1>
            SIP Cotizaciones - Usuarios
            </h1>
		</div>
		<div data-role="content" data-theme="a" style="width: 80%;margin: 1em auto;">
		<h3>Control de usuarios</h3>
			<div data-role="fieldcontain">
					
					<form method="post" action="#" th:action="@{/admin/adduser}" th:object="${consecutive}" >
					
					<div  th:object="${updateUser}" >
						<label for="idUser">Id del usuario:</label>
						
						<div th:if="${updateUser==null}">
							<input  type="text" name="idUser" th:value="${consecutive != null ? consecutive.prefix + '- '+consecutive.subfix  : 'USR-1'}" disabled/>
							<label for="country">País:</label>
							<select name="country">
								<option th:each="country : ${countries}" th:value="${country.idCountry}"><p th:text="${country.detail}"></p></option>
							</select>
							<label for="rol">Rol:</label>
							<select name="rol">
								<option th:each="rol : ${roles}" th:value="${rol.idRol}"><p th:text="${rol.detail}"></p></option>
							</select>
							<label for="username">Nombre:</label>
							<input title="Debe ingresar el nombre del usuario" maxlength="100" type="text" name="username" th:value="${username}" required/>
							<label for="midname">Segundo nombre:</label>
							<input title="Debe ingresar el segundo nombre del usuario" maxlength="15" type="text" name="midname" th:value="${midname}" required/>
							<label for="lastname">Apellidos:</label>
							<input title="Debe ingresar los apellidos del usuario"  maxlength="15" type="text" name="lastname" th:value="${lastname}" required/>
							<label for="password">Contraseña:</label>
							<input title="Debe ingresar una contraseña"  maxlength="15" type="password" name="password" th:value="${password}" required/>
							<label for="accountBank">Cuenta bancaria:</label>
							<input title="Debe ingresar una cuenta bancaria"  maxlength="15" type="text" name="accountBank" th:value="${accountBank}" required/>
							<!--<label for="useCommission">Comisión de uso:</label>
							<input title="Debe ingresar un valor porcentual de comisión " maxlength="15" type="text" name="useCommission" th:value="${useCommission}" required/>
							<label for="commissionAmount">Cantidad de la comisión:</label>
							<input title="Debe ingresar un valor de comisión " maxlength="15" type="text" name="commissionAmount" th:value="${commissionAmount}" required/>  -->
							<label for="expired"  title="Indica si el usuario esta caducado en el sistema">Caducado</label>
							<select  name="expired" data-role="slider"  th:value="${expired}">
								<option value="0">No</option>
								<option value="1">Sí</option>
							</select>
							<label for="status"  title="Indica si las credenciales del usuario caducaron">Credenciales caducadas</label>
							<select  name="credentialExpired" data-role="slider"  th:value="${credentialExpired}">
								<option value="0">No</option>
								<option value="1">Sí</option>
							</select>
							<label for="status"  title="Indica si el usuario esta activo o inactivo">Estado</label>
							<select  name="status" data-role="slider"  th:value="${status}">
								<option value="0">Inactivo</option>
								<option value="1">Activo</option>
							</select>
						</div>
						
						<div th:if="${updateUser!=null}">
							<input type="text" name="idUser" th:value="${updateUser.idUser}" readonly />
							<select name="country">
								<option th:each="country : ${countries}" th:value="${country.idCountry}" th:if="${updateUser.Country.detail == country.detail}" selected readonly><p  th:text="${country.detail}"></p></option>
								<option th:each="country : ${countries}" th:value="${country.idCountry}" th:if="${updateUser.Country.detail != country.detail}" readonly><p  th:text="${country.detail}"></p></option>
							</select>
							<label for="rol">Rol:</label>
							<select name="rol">
								<option th:each="rol : ${roles}" th:value="${rol.idRol}" th:if="${updateUser.Rol.detail == rol.detail}"  selected readonly><p th:text="${rol.detail}" ></p></option>
								<option th:each="rol : ${roles}" th:value="${rol.idRol}" th:if="${updateUser.Rol.detail != rol.detail}"   readonly><p th:text="${rol.detail}" ></p></option>
							</select>
							<label for="username">Nombre:</label>
							<input title="Debe ingresar el nombre del usuario" maxlength="100" type="text" name="username" th:value="${updateUser.username}" required/>
							<label for="midname">Segundo nombre:</label>
							<input title="Debe ingresar el segundo nombre del usuario" maxlength="15" type="text" name="midname" th:value="${updateUser.midname}" required/>
							<label for="lastname">Apellidos:</label>
							<input title="Debe ingresar los apellidos del usuario"  maxlength="15" type="text" name="lastname" th:value="${updateUser.lastname}" required/>
							<label for="password">Contraseña:</label>
							<input title="Debe ingresar una contraseña"  maxlength="15" type="password" name="password" th:value="${updateUser.password}" required/>
							<label for="accountBank">Cuenta bancaria:</label>
							<input title="Debe ingresar una cuenta bancaria"  maxlength="15" type="text" name="accountBank" th:value="${updateUser.accountBank}" required/>
							<!--<label for="useCommission">Comisión de uso:</label>
							<input title="Debe ingresar un valor porcentual de comisión " maxlength="15" type="text" name="useCommission" th:value="${updateUser.useCommission}" required/>
							<label for="commissionAmount">Cantidad de la comisión:</label>
							<input title="Debe ingresar un valor de comisión " maxlength="15" type="text" name="commissionAmount" th:value="${updateUser.commissionAmount}" required/>-->
							<label for="expired"  title="Indica si el usuario esta caducado en el sistema">Caducado</label>
							<div  th:if="${updateUser.expired==0}">
								<select  name="expired" data-role="slider"  th:value="${expired}">
									<option value="0" selected>No</option>
									<option value="1">Sí</option>
								</select>
							</div>
							<div  th:if="${updateUser.expired==1}">
								<select  name="expired" data-role="slider"  th:value="${expired}">
									<option  value="0" >No </option>
									<option  value="1" selected>Sí</option>
								</select>
							</div>
							<label for="status"  title="Indica si las credenciales del usuario caducaron">Credenciales caducadas</label>
							<div  th:if="${updateUser.credentialExpired==0}">
								<select  name="credentialExpired" data-role="slider"  th:value="${credentialExpired}">
									<option value="0" selected>No</option>
									<option value="1">Sí</option>
								</select>
							</div>
							<div  th:if="${updateUser.credentialExpired==1}">
								<select  name="credentialExpired" data-role="slider"  th:value="${credentialExpired}">
									<option  value="0" >No </option>
									<option  value="1" selected>Sí</option>
								</select>
							</div>
							<label for="status"  title="Indica si el usuario esta activo o inactivo">Estado</label>
							<div  th:if="${updateUser.status==0}">
								<select  name="status" data-role="slider"  th:value="${status}">
									<option  value="0" selected>Inactivo </option>
									<option  value="1">Activo</option>
								</select>
							</div>
							<div  th:if="${updateUser.status==1}">
								<select  name="status" data-role="slider"  th:value="${status}">
									<option  value="0" >Inactivo </option>
									<option  value="1" selected>Activo</option>
								</select>
							</div>
							<a href="#" th:href="@{/admin/adduser}"><button  class="custom_text" data-icon="Cancel">Cancelar</button></a>
							
						</div>
					
						
                    	<hr>
                    </div>
  					<input type="submit" name="submit" class="custom_text" data-icon="plus" value="Guardar">
                   
				</form>
			</div>
			
			
          	<div data-role="header"  data-theme="a">
      		 	<h1>Usuarios en el sistema</h1>
    		</div>
           
  				 <div data-role="main" class="ui-content">
  				 
  				 	<form class="ui-filterable">
      					<input id="myFilterD" data-type="search" placeholder="Buscador de usuarios"/>
    				</form>
  				 
					<div  data-role="collapsibleset"  data-filter="true" data-input="#myFilterD" data-autodividers="true" data-inset="true"> 
						
						<div th:each="user : ${users}" data-role="collapsible">
							<h4 th:text="${'ID: '+user.idUser+' '+user.username+' '+user.midname+' '+user.lastname}"></h4>
							
							<table style="text-align:justify;">
							<tr>
								<th>ID:</th>
								<td th:text="${user.idUser}"></td>
							</tr>
							<tr>
								<th>País:</th>
								<td th:text="${user.Country.detail}"></td>
							</tr>
							<tr>
								<th>Rol:</th>
								<td th:text="${user.Rol.detail}"></td>
							</tr>
							<tr>
								<th>Nombre:</th>
								<td th:text="${user.username}"></td>
							</tr>
							<tr>
								<th>Segundo nombre:</th>
								<td th:text="${user.midname}"></td>
							</tr>
							<tr>
								<th>Apellidos:</th>
								<td th:text="${user.lastname}"></td>
							</tr>
							<tr>
								<th>Cuenta bancaria:</th>
								<td th:text="${user.accountBank}"></td>
							</tr>
							<tr>
								<th>Comisión de uso:</th>
								<td th:text="${user.useCommission}"></td>
							</tr>
							<tr>
								<th>Cantidad de la comisión:</th>
								<td th:text="${user.commissionAmount}"></td>
							</tr>
							<tr>
								<th>Último ingreso:</th>
								<td th:text="${user.lastLoggin}"></td>
							</tr>
							<tr>
								<th>Caducado:</th>
								<td th:if="${user.expired==1}">Sí</td>
								<td th:if="${user.expired==0}">No</td>
							</tr>
							<tr>
								<th>Caducado el:</th>
								<td th:text="${#dates.format(user.expiredAt,'dd MMM yyyy HH:mm')}"></td>
							</tr>
							<tr>
								<th>Credenciales caducadas:</th>
								<td th:if="${user.credentialExpired==1}">Sí</td>
								<td th:if="${user.credentialExpired==0}">No</td>
							</tr>
							<tr>
								<th>Credenciales caducadas el:</th>
								<td th:text="${#dates.format(user.credentialExpiredAt,'dd MMM yyyy HH:mm')}"></td>
							</tr>
							<tr>
								<th>Fecha de creación</th>
								<td th:text="${#dates.format(user.creationDate,'dd MMM yyyy HH:mm')}"></td>
							</tr>
							<tr>
								<th>Última modificación</th>
								<td th:text="${#dates.format(user.lastModification,'dd MMM yyyy HH:mm')}"></td>
							</tr>
							<tr>
								<th>Estado:</th>
								<td th:if="${user.status==1}">Activo</td>
								<td th:if="${user.status==0}">Inactivo</td>
							</tr>
							<tr>
								<th>Acción disponible:</th>
								<td><a href="#" th:href="@{/admin/updateuser?idUser=__${user.idUser}__}"  >Editar</a></td>
							</tr>
							</table>
						</div>
				</div>
		
		<div id="footer" data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div data-role="popup" data-position="left" id="adminmenu" th:replace="fragments/footer"></div>
		<!-- /panel -->	
		</div>
	</div>
</div>

</body>
</html>
